---
layout: t2
---
<header id="titre" class="large-12 columns">
  <div class="flecheG">
      <a href="/qui-sommes-nous/hier-a-aujourd-hui.html"><img src="/img/flecheG.png" alt="" /></a>
  </div>
  <div class="flecheD">
      <a href="/qui-sommes-nous/pourquoi-un-fond-de-dotation.html"><img src="/img/flecheD.png" alt="" /></a>
  </div>
    <h1 class="editable">QUI SOMMES-NOUS ?</h1>
        <div class="large-offset-1 large-10 editable">
            <p>Héritiers des Cœurs Vaillants et Âmes Vaillantes, nous poursuivons le rêve des pères fondateurs de faire découvrir à tous les jeunes l’esprit de partage, l’esprit d’équipe et l’esprit d’entreprise.</p>
        </div>
</header>
    {% include cvav_menu_qui_sommes_nous.html %}
<div id="contenu-tab" class="fond-interieur tabs-content  large-12 columns">
    <section class="content active" id="nosvaleurs">
        <div class="row editable">
            <h2>Les enfants sont la force <br>de notre société.</h2>
            <p class="paraph-blue padder-20">Le fonds de dotation veut défendre fièrement ces trois valeurs</p>
        </div>
        <div id="vaillance" class="row">
            <div class="encadre encadre-right editable">
                <h4>VAILLANCE</h4>
                <p>Nous nous engageons avec enthousiasme sur des projets qui nous tiennent à cœur. Nous encourageons toute initiative en faveur <br>des enfants.</p>
            </div>
        </div>
        <div class="padder-70 bkg-white"></div>
        <div id="transparence" class="row">
            <div class="encadre encadre-left editable">
                <h4>TRANSPARENCE</h4>
                <p>Nous agissons en respectant les personnes qui nous accordent leur confiance. Nous utilisons avec rigueur et loyauté chaque ressource qui nous est confiée.</p>
            </div>
        </div>
        <div class="padder-70  bkg-white"></div>
        <div id="esperance" class="row">
            <div class="encadre encadre-right editable">
                <h4>ESPÉRANCE</h4>
                <p>Nous portons avec les enfants un message d’espoir pour demain, convaincus de leurs capacités. Ils sont l’avenir du monde et l’éducation est la richesse des générations à venir. </p>
            </div>
        </div>
        {% include cvav_menu_qui_sommes_nous_footer.html %}
    </section>
</div>
