---
layout: t2
---
<header id="titre" class="large-12 columns">
  <div class="flecheG">
      <a href="/qui-sommes-nous/nos-valeurs.html"><img src="/img/flecheG.png" alt="" /></a>
  </div>
  <div class="flecheD">
      <a href="/projets/tous-les-projets.html"><img src="/img/flecheD.png" alt="" /></a>
  </div>
    <h1 class="editbale">QUI SOMMES-NOUS ?</h1>
        <div class="large-offset-1 large-10 editable">
            <p>Héritiers des Cœurs Vaillants et Âmes Vaillantes, nous poursuivons le rêve des pères fondateurs de faire découvrir à tous les jeunes l’esprit de partage, l’esprit d’équipe et l’esprit d’entreprise.</p>
        </div>
</header>
{% include cvav_menu_qui_sommes_nous.html %}
<div id="contenu-tab" class="fond-interieur tabs-content  large-12 columns">
     <section class="content active" id="panel3">
        <div class="row padder-70">
            <h2 class="editable">Pourquoi un fonds de dotation ?</h2>
            <div class="bkg-white popin-open columns large-offset-2 large-8 end editable">


                <p>Parce que nous croyons que les enfants sont la force de notre société, qu’ils sont des acteurs à part entière du monde dans lequel nous vivons, </p>

                <p>Parce que nous croyons que, pour grandir, les jeunes ont besoin de s’appuyer sur l’expérience des anciens, </p>

                <p>Parce que nous sommes convaincus de l’importance de la vitalité du lien intergénérationnel, </p>

                <p>Parce que nous avons gardé les valeurs et la volonté d’être ouverts à tous sans distinction de religion, de culture et de milieu social, de nos origines Cœurs Vaillants et Âmes Vaillantes, </p>

                <p>Nous soutenons les projets portés par les enfants et les jeunes.</p>

                <p>Pour financer nos actions, nous avons besoin de votre soutien.</p>

                <p>Retrouvons-nous autour de ce grand projet fraternel et solidaire ! </p>

                <p>De nouveau, rien d’impossible !</p>
              </div>
        </div>
        <div id="notre-ambition" class="row bkg-blue">
            <h3 class="editable">Notre Ambition</h3>
            <p class="paraph-white editable">Encourager l'éducation et l'épanouissement des enfants</p>
            <div class="row ">
                <div class="large-offset-2 large-4 columns rub editable"><h4>La formation</h4><div class="center-img"><a href="/projet/la-formation/"><img alt="" src="/img/picto-formation.png" /></a></div><p>Nous permettons &agrave; des adultes et des jeunes d&rsquo;acqu&eacute;rir des comp&eacute;tences dans le champ de l&rsquo;animation par une aide financi&egrave;re au passage du BAFA, du BAFD. Nous soutenons les formations, colloques et conf&eacute;rences en lien avec l&rsquo;&eacute;ducation et l&rsquo;enfance.</p></div>

                <div class="large-4 end columns rub editable"><h4>L'&eacute;ducation</h4><div class="center-img"><a href="/projet/l-ducation/"><img alt="" src="/img/picto-education.png" /></a></div><p>Nous accompagnons des projets faisant appel aux comp&eacute;tences des enfants et des jeunes. Nous encourageons la cr&eacute;ation d&rsquo;outils p&eacute;dagogiques (en lien avec la psychologie de l&rsquo;enfant, le jeu, le handicap, le respect de l&rsquo;environnement, les droits de l&rsquo;enfant, la solidarit&eacute;, l&rsquo;&eacute;veil &agrave; la foi).</p></div>
            </div>

            <div class="row">
                <div class="large-offset-2 large-4 columns rub editable"><h4>Le patrimoine</h4><div class="center-img"><a href="/projet/le-patrimoine/"><img alt="" width="155" height="155" src="/img/picto-patrimoine.png" /></a></div><p>Nous encourageons l&rsquo;organisation d&rsquo;expositions et d&rsquo;&eacute;v&egrave;nements qui font vivre la m&eacute;moire des C&oelig;urs vaillants et des &Acirc;mes Vaillantes et qui valorisent notre patrimoine commun. Publier, exposer, partager notre histoire commune&hellip; Nous rendons possible la transmission de ce lien interg&eacute;n&eacute;rationnel.</p></div>

                <div class="large-4 end columns rub editable"><h4>La culture</h4><div class="center-img"><a href="/projet/la-culture/"><img alt="" width="155" height="155" src="/img/picto-culture.png" /></a></div><p>Nous favorisons l&rsquo;acc&egrave;s aux vacances et aux temps de loisirs des enfants par une aide aux familles et un soutien aux activit&eacute;s propos&eacute;es dans le cadre des camps. Nous accompagnons l&rsquo;organisation d&rsquo;&eacute;v&eacute;nements ponctuels tels que f&ecirc;tes et animations en quartiers.</p></div>
            </div>

           {% include cvav_menu_qui_sommes_nous_footer.html %}
        </div>

      </section>
</div>
