---
---
---
---
<html class="no-js" lang="fr">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{ page.title }}</title>
		<meta name="description" content="" />
		<link rel="stylesheet" href="{{site.url}}/css/foundation.css" />
		<link rel="stylesheet" href="{{site.url}}/css/custom.css" />
		<link rel="stylesheet" href="{{site.url}}/css/intlTelInput.css" />
		<script src="{{site.url}}/js/vendor/modernizr.js"></script>
	</head>
	<body>
	    <ul class="staff">
  {% for petition in site.petitions %}
    <li><a href="/form/{{petition.title}}/">{{site.url}}/form/{{petition.title}}/</a></li>
  {% endfor %}
  {% for merci in site.thanks %}
    <li><a href="/thanks/{{merci.title}}/">/thanks/{{merci.title}}/</a></li>
  {% endfor %}
	</body>
</html>