---
layout: t2
video:
  actif: true
  code_embed_de_la_video: "#"
header_bouton:
  bouton: '2'
  background_bleu: false
  type: transparent
footer_bouton:
  bouton: '2'
  background_bleu: false
  type: transparent
---
<div class="row">
  <header id="titre" class="large-12 columns">
    {% include cvav_nav_page.html %}
    <h1 class="editable">Lorem Ipsum Article</h1>
    <div class="large-offset-1 large-10">
        <p class="editable">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae nulla sapien. Duis molestie lorem eget suscipit rhoncus. Nam pharetra auctor convallis. Aliquam a sollicitudin lacus, et vestibulum metus. Nunc interdum massa ac augue maximus tincidunt.</p>
    </div>
  </header>
</div>

{% if page.header_bouton.bouton != '0' %}
<div class="row {{page.header_bouton.type}}" {% if page.header_bouton.background_bleu %}style="background-color:#66a5cc"{% endif %}>
  <div class="medium-12 large-12 small-12">
    <div class="medium-9 large-9 small-9 columns large-centered medium-centered">
      {% case page.header_bouton.bouton %}
      {% when '4' %}
      <!-- 4 boutons -->
      <div class="large-3 medium-6 small-12 columns editable"><div class="full-btn align-center"><p><span style="line-height: 16px;">Toutes les actualit&eacute;s</span></p></div></div>
      <div class="large-3 medium-6 small-12 columns editable"><div class="full-btn align-center"><p><span style="line-height: 16px;">&Eacute;v&egrave;nements</span></p></div></div>
      <div class="large-3 medium-6 small-12 columns editable"><div class="full-btn align-center"><p><span class="align-middle"><a href="#">C</a>ampagnes</span></p></div></div>
      <div class="large-3 medium-6 small-12 columns editable">
          <a href="#"><div class="full-btn align-center"><p><span class="align-middle">Faire un don</span></p></div></a>
      </div>
      {% when '3' %}
      <!-- 3 boutons -->
      <div class="large-4 medium-12 small-12 columns editable"><div class="full-btn align-center"><p><span style="line-height: 16px;">Toutes les actualit&eacute;s</span></p></div></div>
      <div class="large-4 medium-12 small-12 columns editable"><div class="full-btn"><p><span style="line-height: 16px;">&Eacute;v&egrave;nements</span></p></div></div>
      <div class="large-4 medium-12 small-12 columns editable"><div class="full-btn"><p><span style="line-height: 16px;">Campagnes</span></p></div></div>
      {% when '2' %}
      <!-- 2 boutons -->
      <div class="large-6 medium-6 small-12 columns editable">
          <a href="#"><div class="full-btn align-center"><p><span class="align-middle">Déposer un témoignage</span></p></div></a>
      </div>
       <div class="large-6 medium-6 small-12 columns editable">
           <a href="#"><div class="full-btn align-center"><p><span class="align-middle">Tous les témoignages</span></p></div></a>
      </div>
      {% when '1' %}
      <!-- 1 bouton -->
      <div class="large-12 medium-12 small-12 columns editable">
          <a href="#"><div class="full-btn align-center"><p><span class="align-middle">Faire un don</span></p></div></a>
      </div>
      {% endcase %}
    </div>
  </div>
</div>
{% endif %}

{% include cvav_video.html %}

<div class="row padder-bottom cvav-content paraph-blue">
    <div class="large-8 end large-offset-2 text-left editable">
        <h2>Les avantages Fiscaux</h2>
        <p>Si vous êtes assujetti(e) à l’Impôt sur le revenu, vous pouvez déduire jusqu’à 66 % des sommes versées à notre fond de dotation de votre déclaration d’impôt. Et ce, dans la limite de 20% de votre revenu imposable.</p>
        <h3>Les avantages Fiscaux</h3>
        <p>Ainsi par exemple, un don de 100€ ne vous revient qu’à 34€ après déduction fiscale.</p>
        <h4>Les avantages Fiscaux</h4>
        <p> Vous recevez un reçu fiscal justifiant l’ensemble de vos dons.</p>
        <h5>Les avantages Fiscaux</h5>
        <p> Lorsque le montant de vos dons dépasse la limite de 20 % de votre revenu imposable, l'excédent est reporté sur les 5 années suivantes et ouvre droit à la réduction d'impôt dans les mêmes conditions.</p>
        <h6>Les avantages Fiscaux</h6>
        <p><strong>Avec le simulateur ci-dessous, visualisez immédiatement l’avantage fiscal que vous réserve votre générosité :</strong></p>
        <p><em>Avec le simulateur ci-dessous, visualisez immédiatement l’avantage fiscal que vous réserve votre générosité :</em></p>
        <ul>
          <li>Lorem ipsum</li>
          <li>Lorem ipsum</li>
        </ul>
        <ol>
          <li>Lorem ipsum</li>
          <li>Lorem ipsum</li>
        </ol>
    </div>
</div>

{% if page.footer_bouton.bouton != '0' %}
<div class="row {{page.header_bouton.type}}" {% if page.header_bouton.background_bleu %}style="background-color:#66a5cc"{% endif %}>
  <div class="medium-12 large-12 small-12">
    <div class="medium-9 large-9 small-9 columns large-centered medium-centered">
      {% case page.footer_bouton.bouton %}
      {% when '4' %}
      <!-- 4 boutons -->
      <div class="large-3 medium-6 small-12 columns editable"><div class="full-btn align-center"><p><span style="line-height: 16px;">Toutes les actualit&eacute;s</span></p></div></div>
      <div class="large-3 medium-6 small-12 columns editable"><div class="full-btn align-center"><p><span style="line-height: 16px;">&Eacute;v&egrave;nements</span></p></div></div>
      <div class="large-3 medium-6 small-12 columns editable"><div class="full-btn align-center"><p><span class="align-middle"><a href="#">C</a>ampagnes</span></p></div></div>
      <div class="large-3 medium-6 small-12 columns editable">
          <a href="#"><div class="full-btn align-center"><p><span class="align-middle">Faire un don</span></p></div></a>
      </div>
      {% when '3' %}
      <!-- 3 boutons -->
      <div class="large-4 medium-12 small-12 columns editable"><div class="full-btn align-center"><p><span style="line-height: 16px;">Toutes les actualit&eacute;s</span></p></div></div>
      <div class="large-4 medium-12 small-12 columns editable"><div class="full-btn"><p><span style="line-height: 16px;">&Eacute;v&egrave;nements</span></p></div></div>
      <div class="large-4 medium-12 small-12 columns editable"><div class="full-btn"><p><span style="line-height: 16px;">Campagnes</span></p></div></div>
      {% when '2' %}
      <!-- 2 boutons -->
      <div class="large-6 medium-6 small-12 columns editable">
          <a href="#"><div class="full-btn align-center"><p><span class="align-middle">Déposer un témoignage</span></p></div></a>
      </div>
       <div class="large-6 medium-6 small-12 columns editable">
           <a href="#"><div class="full-btn align-center"><p><span class="align-middle">Tous les témoignages</span></p></div></a>
      </div>
      {% when '1' %}
      <!-- 1 bouton -->
      <div class="large-12 medium-12 small-12 columns editable">
          <a href="#"><div class="full-btn align-center"><p><span class="align-middle">Faire un don</span></p></div></a>
      </div>
      {% endcase %}
    </div>
  </div>
</div>
{% endif %}
