---
layout: charte-2015
remerciement_path: /merci/merci-petition-refugies.html
code_campagne: petition
header:
  activate_background: true
  image_path: /uploads/header-petition-refugie-vf.jpg
  activate_title: true
  activate_counter: true
  activate_more_button: true
  activate_sign_button: true
formulaire:
  nb_signataires: '3000'
  activate_counter: true
  phrase_telephone: "En laissant mon numéro, j'accepte que CARE France me contacte pour m'informer de ses actions."
  config_form:
    firstname:
      visibility: true
      required: true
    lastname:
      visibility: true
      required: false
    phone:
      visibility: true
      required: false
    radio:
      visibility: true
  button: JE SIGNE
contenu:
  activate: true
  image_path: /uploads/contenu-petition-refugies-vf.jpg
footer:
  activate: false
  image_path: /uploads/footer-petition-refugies2.jpg
  bloc:
meta:
  title: Signez la pétition pour un accueil digne des réfugiés
  description: 'Pétition pour appeler les gouvernements français et européens à apporter une réponse à la hauteur des besoins, en accueillant plus de réfugiés dans des meilleures conditions.'
  keywords: 'pétition, accueil, réfugiés'
  site_name: PETITION CARE
  image_path: /static/img/care_vertical_orange-siteinternet.png
facebook:
  title: 'Signez la pétition !'
  description: "Les conditions d'accueil des réfugiés en Europe sont inacceptables ! Agissez pour un accueil plus digne !"
  site_name: Signez la pétition avec CARE France
  image_path: /static/img/logo-bottom.png
---
<div class="row full-width bg1" {% if page.header.activate_background %} style="background: url('{{page.header.image_path}}') no-repeat top center / auto 100%;" {% endif %}>
    <div class="row">
      <div class="small-12 columns">
        <div class="logo">
          <a href="{{site.url_master}}" target="_blank"><img src="{{site.logo}}" /></a>
        </div>
        <div class="medium-5 end">
        {% if page.header.activate_title %}
          <h1 class="editable">Les conditions d'accueil des r&eacute;fugi&eacute;s en europe SONT inacceptableS</h1>
        {% endif %}
          <div class="text-small editable"><p>Les efforts des pays de l&rsquo;Union europ&eacute;enne en termes d&rsquo;accueil des r&eacute;fugi&eacute;s sont insuffisants et <strong>leurs conditions de vie sont indignes.</strong> La majorit&eacute; des &Eacute;tats membres &eacute;chappent &agrave; leurs responsabilit&eacute;s.&nbsp;<br /><strong>Il est urgent d&rsquo;agir</strong> pour que les pays de l&rsquo;UE apportent enfin <strong>une r&eacute;ponse &agrave; la hauteur des besoins, en accueillant plus de r&eacute;fugi&eacute;s dans de meilleures conditions.&nbsp;</strong></p></div>

          {% if page.header.activate_counter %}
          <div class="signs text-center">
	        <span class="editable">Déjà</span> <span id="nb_signatures_header">{{page.formulaire.nb_signataires}}</span> <span class="editable">signataires</span>
          </div>
        {% endif %}
          <div class="text-center">
              {% if page.header.activate_sign_button %}
            <div class="inline-block">
              <a href="#sign" class="parallelogram red"><span class="editable">Je signe la pétition</span></a>
            </div>
            {% endif %}
            {% if page.header.activate_more_button %}
            <div class="inline-block">
              <a href="#info" class="parallelogram orange"><span class="editable">En savoir +</span></a>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
</div>

  <div class="row full-width bg-yellow" id="sign">
    <div class="row">
      <div class="small-12 columns end">
        <div class="title text-center">
	  <span class="editable">Déjà</span> <span id="nb_signatures_content">{{page.formulaire.nb_signataires}}</span> <span class="editable">signataires</span>
        </div>

        <div class="text text-center editable"><p>En 2016, l&rsquo;Union europ&eacute;enne n&rsquo;accueille qu&rsquo;un r&eacute;fugi&eacute; pour 1000 habitants.&nbsp;<br />Des pays bien plus pauvres et vuln&eacute;rables se montrent beaucoup plus accueillants et g&eacute;n&eacute;reux.<br /><strong>Ces personnes qui ont tout laiss&eacute; derri&egrave;re elles pour fuir la guerre m&eacute;ritent d&rsquo;&ecirc;tre trait&eacute;es avec humanit&eacute;.&nbsp;</strong></p></div>

        <div class="required text-center editable"><h6><strong>65 millions de personnes sont d&eacute;racin&eacute;es dans le monde :</strong><strong> leur fuite n&rsquo;est pas un choix, c&rsquo;est une question de survie.</strong></h6><p>Prot&eacute;ger les personnes dont la vie est menac&eacute;e est non seulement un devoir moral, mais &eacute;galement une obligation au regard des conventions internationales.</p><h4><strong>MOBILISEZ-VOUS POUR APPELER LES GOUVERNEMENTS FRAN&Ccedil;AIS ET EUROP&Eacute;ENS &Agrave; ASSUMER LEURS RESPONSABILIT&Eacute;S ET &Agrave; AGIR SANS PLUS TARDER ! SIGNEZ LA&nbsp;<strong>P&Eacute;TITION !</strong></strong></h4><p>Aidez-nous &agrave; atteindre <strong>20 000 signatures</strong> pour pouvoir remettre la p&eacute;tition lors de</p><h5>&nbsp;</h5></div>
        {% include form.html %}
      </div>
    </div>
  </div>
  {% if page.contenu.activate %}
  <div class="row full-width bg2" id="bg2" style="background: url('{{page.contenu.image_path}}') no-repeat scroll center center / auto 100%;"></div>
  {% endif %}
  <div class="row full-width bg-beige" id="info">
    <div class="row">
      <div class="small-12 columns end">
        <div class="title text-center editable"><h3><strong>DEMANDONS AUX gouvernements fran&ccedil;ais et europ&eacute;ens D'agir sans plus tarder en :&nbsp;</strong></h3></div>
        <div class="text editable"><p>&nbsp;</p><ul><li>mettant en place des routes migratoires s&ucirc;res pour garantir la protection des r&eacute;fugi&eacute;s</li><li>augmentant rapidement le nombre de places d&rsquo;accueil</li><li>respectant les engagements de soutien financier aux pays en d&eacute;veloppement qui accueillent plus de 80% des r&eacute;fugi&eacute;s dans le monde</li><li>prot&eacute;geant les femmes et les &nbsp;filles des violences sexuelles et de la traite humaine</li></ul><p><strong>Cette p&eacute;tition sera remise aux d&eacute;cideurs europ&eacute;ens en amont du conseil europ&eacute;en &agrave; Bruxelles en d&eacute;cembre prochain.&nbsp;</strong></p><p><strong>Pour plus d'informations, consultez cet article.&nbsp;</strong><br />&nbsp;</p></div>

        <div class="text-center">
          <a href="#sign" class="parallelogram"><span class="editable">Je signe la pétition</span></a>
        </div>
      </div>
    </div>
  </div>
   
  <div class="row full-width bg3" style="background: url('{{page.footer.image_path}}') no-repeat center center / auto 100%;">
    <div class="row padding">
        {% if page.footer.activate %}
        <div class="small-12 columns end">
          <div class="title text-center white editable"></div>
          <div class="subtitle text-center editable"></div>
          
            {% case page.footer.bloc %}
            
            {% when '3' %}
            <div class="large-4 columns text text-center editable"></div>
            <div class="large-4 columns text text-center editable"></div>
            <div class="large-4 columns end text text-center editable"></div>
            
            {% when '2' %}
            <div class="large-6 columns text text-center editable">
	Lorerro quiandipsam, que nonecustis sin cus, untium auda volore commolorum ulparis erro quiae nonsedis adit, qui consequame seque dolendam atqui dolor sum.
            </div>
            <div class="large-6 columns text text-center editable"><p>Blabla Lorerro quiandipsam, que nonecustis sin cus, untium auda volore commolorum ulparis erro quiae nonsedis adit, qui consequame seque dolendam atqui dolor sum.</p></div>
            
            {% else %}
            <div class="large-12 columns text text-center editable">
	Lorerro quiandipsam, que nonecustis sin cus, untium auda volore commolorum ulparis erro quiae nonsedis adit, qui consequame seque dolendam atqui dolor sum.
            </div>
            {% endcase %}
        </div>
        {% endif %}
      </div>
        {% include t_footer_care.html %}
      </div>
        {% include credits.html %}
        {% include foundation.html %}
    <script>
			$(document).ready(function(){
				 if ("email" in p){
						 $("input[name='email']").val(p["email"]);
				 }
				 if ("firstname" in p){
						 $("input[name='firstname']").val(p["firstname"]);
				 }
				 if ("lastname" in p){
						 $("input[name='lastname']").val(p["lastname"]);
				 }
			});
	</script>   
    <script src="https://cdn.firebase.com/js/client/2.3.0/firebase.js"></script>
    <script>
        {% if page.code_campagne != nill and page.code_campagne != empty %}
        var counter_name = "counter" + "-" + "{{ page.code_campagne }}";
        var fb = new Firebase("{{site.fire_base_url}}");
        {% else %}
        console.log("No counter name");
        var count_name = "counter";
        var fb = new Firebase("{{site.fire_base_url}}" + count_name);
        {% endif %}
      fb.child(counter_name).on("value", function(show) {
	var base_nbr = 0;
	{% if page.formulaire.nb_signataires %}
	  var base_nbr = parseInt("{{ page.formulaire.nb_signataires }}");
	{% endif %}
	var base_nbr = (base_nbr - 1) + show.val();
	document.getElementById("nb_signatures_header").innerHTML = base_nbr;
	document.getElementById("nb_signatures_content").innerHTML = base_nbr;
	Firebase.goOffline();
      });
    </script>



