---
layout: petition
contenu_petition:
  header:
    titre: "Donne du pouvoir aux femmes  si t'es un homme"
    button: Je signe la pétition
    introduction: "Lutter contre les inégalités dans\nle monde, c'est l'affaire de tous.\nDans le monde, les femmes sont les premières victimes de la pauvreté, de la violence et des inégalités. Leurs droits sont souvent bafoués et leurs perspectives d’avenir limitées."
    image_path: /static/img/bg1.jpg
    image2_path: /static/img/bg2.jpg
    img2:
      visibility: false
  formulaire:
    bg1: 40A497
    bg2: 83CDC3
    introduction_formulaire: CARE implique les hommes et les garçons dans ses actions afin de changer durablement les attitudes et les pratiques sociales à l’égard des femmes et des filles lorsque leurs droits sont bafoués.
    phrase_telephone: "En laissant mon numéro, j'accepte que CARE France me contacte pour m'informer de ses programmes en faveur des femmes."
    config_form:
      nb_signataires: 3 000
      firstname:
        visibility: true
        required: false
      lastname:
        visibility: true
        required: false
      phone:
        visibility: true
        required: true
      radio:
        visibility: true
    button: "Je m'engage"
    titre: "SI T'ES UN HOMME"
footer:
  image_path: /static/img/bg3.jpg
  titre: CARE SE MOBILISE
  fb_link: "https://www.facebook.com/CARE.France"
  tw_link: "https://twitter.com/CAREfrance"
  gp_link: ""
  site_link: "http://www.carefrance.org/"
  introduction: "L’ONG CARE met les femmes au cœur de ses programmes et renforce leur autonomie en favorisant leur accès aux ressources, à l’éducation et à la santé."
  contenu:
    left: super
    mid: trop cool
    right: "on s'éclate !"
---
<div class="row full-width bg1" style="	background: url('{{page.contenu_petition.header.image_path}}') no-repeat top center / auto 100%;">
    <div class="row">
      <div class="small-12 columns">
        <div class="logo">
          <a href="{{site.url_master}}" target="_blank"><img src="{{site.logo}}" /></a>
        </div>
        <div class="medium-6 end">
          <h1 class="editable">{{page.contenu_petition.header.titre}}</h1>

          <div class="text-small editable">
          {{page.contenu_petition.header.introduction}}
          </div>

          <div class="signs text-center">
            Déjà {{page.contenu_petition.formulaire.config_form.nb_signataires}} signataires
          </div>

          <div>
            <div class="inline-block">
              <a href="#sign" class="parallelogram red"><span>{{page.contenu_petition.header.button}}</span></a>
            </div><div class="inline-block">
              <a href="#info" class="parallelogram orange"><span>En savoir +</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row full-width bg-yellow" style="background: #{{page.contenu_petition.formulaire.bg_form}};" id="sign">
    <div class="row">
      <div class="small-12 columns end">
        <div class="title text-center">
          Déjà {{page.contenu_petition.formulaire.config_form.nb_signataires}} signataires
        </div>

        <div class="text text-center">
          {{page.contenu_petition.formulaire.introduction_formulaire}}
        </div>

        <div class="required text-center">
          * champs obligatoires
        </div>

        <form class="custom" action="index.html" method="post">
          {% if page.contenu_petition.formulaire.config_form.lastname.visibility == true %}
              {% if page.contenu_petition.formulaire.config_form.lastname.required == true %}
              <div class="row">
                <div class="medium-offset-2 medium-2 columns medium-text-right">
                  <label for="form-lastname" class="control-label" >Nom*</label>
                </div>
                <div class="medium-5 columns end">
                  <input type="text" placeholder="Nom" class="form-control" name="lastname" id="form-lastname" required aria-required="true" data-msg-required="Entrez votre nom"/>
                </div>
              </div>
                          {% else %}
              <div class="row">
                <div class="medium-offset-2 medium-2 columns medium-text-right">
                  <label for="form-lastname" class="control-label" >Nom</label>
                </div>
                <div class="medium-5 columns end">
                  <input type="text" placeholder="Nom" class="form-control" name="lastname" id="form-lastname"/>
                </div>
              </div>
              {% endif %}
          {% endif %}
          {% if page.contenu_petition.formulaire.config_form.firstname.visibility == true %}
              {% if page.contenu_petition.formulaire.config_form.firstname.required == true %}
              <div class="row">
                <div class="medium-offset-2 medium-2 columns medium-text-right">
                  <label for="form-firstname" class="control-label">Prénom*</label>
                </div>
                <div class="medium-5 columns end">
                  <input type="text" placeholder="Prénom" class="form-control" name="firstname" id="form-firstname" required aria-required="true" data-msg-required="Entrez votre prénom"/>
                </div>
              </div>
                          {% else %}
              <div class="row">
                <div class="medium-offset-2 medium-2 columns medium-text-right">
                  <label for="form-firstname" class="control-label">Prénom</label>
                </div>
                <div class="medium-5 columns end">
                  <input type="text" placeholder="Prénom" class="form-control" name="firstname" id="form-firstname"/>
                </div>
              </div>
              {% endif %}
          {% endif %}
          <div class="row">
            <div class="medium-offset-2 medium-2 columns medium-text-right">
              <label for="form-email" class="control-label">E-mail*</label>
            </div>
            <div class="medium-5 columns end">
              <input type="email" placeholder="Email" class="form-control" name="email" id="form-email" data-rule-required="true" data-rule-email="true" data-msg-email="Entrez une adresse email valide" data-msg-required="Entrez votre email"/>
            </div>
          </div>
          {% if page.contenu_petition.formulaire.config_form.radio.visibility == true %}
          <div class="row">
            <div class="medium-offset-4 medium-7 columns end">
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="newsletter" id="form-newsletter"> Je souhaite recevoir la newsletter de CARE FRANCE
                </label>
              </div>
            </div>
          </div>
          {% endif %}
          {% if page.contenu_petition.formulaire.config_form.phone.visibility == true %}
              {% if page.contenu_petition.formulaire.config_form.phone.required == true %}
              <div class="row">
                <div class="medium-offset-2 medium-2 columns medium-text-right">
                  <label for="form-phone" class="control-label">Téléphone*</label>
                </div>
                <div class="medium-5 columns end">
                  <input type="tel" class="form-control" name="phone" id="form-phone" required aria-required="true" data-msg-required="Entrez votre téléphone"/>
                                  <!--<p id="phone-error" class="hide">Numéro incorrect</p>-->
                                  <!--<p id="phone-ok" class="hide">Numéro valide</p>-->
                </div>
              </div>
                          {% else %}
              <div class="row">
                <div class="medium-offset-2 medium-2 columns medium-text-right">
                  <label for="form-phone" class="control-label">Téléphone</label>
                </div>
                <div class="medium-5 columns end">
                  <input type="tel" class="form-control" name="phone" id="form-phone"/>
                                  <!--<p id="phone-error" class="hide">Numéro incorrect</p>-->
                                  <!--<p id="phone-ok" class="hide">Numéro valide</p>-->
                </div>
              </div>
                {% endif %}
          {% endif %}
          <div class="form-text text-center">
            {{page.contenu_petition.formulaire.phrase_telephone}}
          </div>
          <div class="row">
            <div class="medium-offset-4 medium-4 columns end text-center">
              <button type="submit" class="btn btn-default parallelogram"><span>{{page.contenu_petition.formulaire.button}}</span></button>
            </div>
          </div>
          <div class="arrow text-center">
            <a href="javascript:void(0);" onclick="scrollToEl('#bg2');"><img src="/static/img/arrow_on.png" /></a>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row full-width bg2" id="bg2" style="background: url('{{page.contenu_petition.header.image2_path}}') no-repeat scroll center center / auto 100%;"></div>
  <div class="row full-width bg-beige" style="background: #{{page.contenu_petition.formulaire.bg_petition}};" id="info">
    <div class="row">
      <div class="small-12 columns end">
        <div class="title text-center">
          {{page.contenu_petition.formulaire.titre}}
        </div>
        <div class="text">
          {{ content }}
        </div>

        <div class="text-center">
          <a href="#sign" class="parallelogram"><span>{{page.contenu_petition.header.button}}</span></a>
        </div>
      </div>
    </div>
  </div>
  <div class="row full-width bg3" style="background: url('{{page.footer.image_path}}') no-repeat center center / auto 100%;">
    <div class="row padding">
        <div class="small-12 columns end">
          <div class="title text-center">{{page.footer.titre}}</div>
          <div class="subtitle text-center">{{page.footer.introduction}}</div>

          <div class="large-4 columns text text-center">
            {{page.footer.contenu.left}}
          </div>
          <div class="large-4 columns text text-center">
            {{page.footer.contenu.mid}}
          </div>
          <div class="large-4 columns end text text-center">
            {{page.footer.contenu.right}}
          </div>
        </div>
      </div>
      <div class="overlay show-for-large-only">
        <div class="row">
          <div class="small-1 columns">
            <img src="/static/img/logo-bottom.png" />
          </div>
          <div class="small-4 small-offset-1 columns text text-center">
            Visitez<br />
            <a href="{{page.footer.site_link}}" class="visit">carefrance.org <img src="/static/img/arrow2.png" /></a>
          </div>
          <div class="small-4 columns text text-center">
            Suivez-nous sur<br />
            <div class="follows">
              <a href="{{page.footer.fb_link}}" target="_blank" class="follow"><img src="/static/img/logo_fb.png" onmouseover="this.src = '/static/img/logo_fb_on.png';" onmouseout="this.src = '/static/img/logo_fb.png';" /></a>
              <a href="{{page.footer.tw_link}}" target="_blank" class="follow"><img src="/static/img/logo_tw.png" onmouseover="this.src = '/static/img/logo_tw_on.png';" onmouseout="this.src = '/static/img/logo_tw.png';" /></a>
              <a href="{{page.footer.gp_link}}" target="_blank" class="follow"><img src="/static/img/logo_gp.png" onmouseover="this.src = '/static/img/logo_gp_on.png';" onmouseout="this.src = '/static/img/logo_gp.png';" /></a>
            </div>
          </div>
          <div class="small-2 columns text-right">
            <img href="http://www.comitecharte.org/" src="/static/img/logo_confiance.png" />
          </div>
        </div>
      </div>
      <div class="overlay hide-for-large-only">
        <div class="row">
          <div class="small-6 columns">
            <a href="http://www.carefrance.org/" target="_blank"><img src="/static/img/logo-bottom.png" /></a>
          </div>
          <div class="small-6 columns text-right">
            <a href="http://www.comitecharte.org/" target="_blank" ><img src="/static/img/logo_confiance.png" /></a>
          </div>
          <div class="small-12 columns text text-center">
            Visitez<br />
            <a href="{{page.footer.site_link}}" target="_blank" class="visit">carefrance.org <img src="/static/img/arrow2.png" /></a>
          </div>
          <div class="small-12 columns end text text-center">
            Suivez-nous sur<br />
            <div class="follows">
              <a href="{{page.footer.fb_link}}" target="_blank" class="follow"><img src="/static/img/logo_fb.png" onmouseover="this.src = '/static/img/logo_fb_on.png';" onmouseout="this.src = '/static/img/logo_fb.png';" /></a>
              <a href="{{page.footer.tw_link}}" target="_blank" class="follow"><img src="/static/img/logo_tw.png" onmouseover="this.src = '/static/img/logo_tw_on.png';" onmouseout="this.src = '/static/img/logo_tw.png';" /></a>
              <a href="{{page.footer.gp_link}}" target="_blank" class="follow"><img src="/static/img/logo_gp.png" onmouseover="this.src = '/static/img/logo_gp_on.png';" onmouseout="this.src = '/static/img/logo_gp.png';" /></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="row full-width">
      <div cass="row">
        <div class="small-12 columns end text-center">
          <a href="#">Adfinitas</a>
        </div>
      </div>
    </div>
  </div>
  
