---
layout: charte-2015
remerciement_path: /merci/test-audrey-merci.html
code_campagne: testcount
header:
  activate_background: true
  image_path: /static/img/steve-mccurry-india-photography-3.jpg
  activate_title: true
  activate_counter: true
  activate_more_button: true
  activate_sign_button: true
formulaire:
  nb_signataires: 100
  activate_counter: true
  phrase_telephone: "En laissant mon numéro, j'accepte que CARE France me contacte pour m'informer de ses programmes en Inde."
  config_form:
    firstname:
      visibility: true
      required: false
    lastname:
      visibility: true
      required: false
    phone:
      visibility: true
      required: true
    radio:
      visibility: false
  button: 'Je signe de suite !'
contenu:
  activate: true
  image_path: /static/img/steve-mccurry-india-photography-2.jpg
footer:
  activate: true
  image_path: /static/img/steve-mccurry-india-photography-15.jpg
  bloc: '1'
meta:
  title: 'CARE : pétition test INDE'
  description: "Cette pétition est un test sur l'Inde"
  keywords: 'Inde, pétition, test, adfinitas, carefrance'
  site_name: Test Inde
  image_path: /static/img/logo-bottom.png
facebook:
  title: "Pétition sur l'Inde"
  description: "Pétition test sur l'Inde à signer de toute urgence !"
  site_name: "Signez la pétition sur l'Inde avec Care France"
  image_path: /static/img/logo-bottom.png
---
<div class="row full-width bg1" {% if page.header.activate_background %} style="background: url('{{page.header.image_path}}') no-repeat top center / auto 100%;" {% endif %}>
    <div class="row">
      <div class="small-12 columns">
        <div class="logo">
          <a href="{{site.url_master}}" target="_blank"><img src="{{site.logo}}" /></a>
        </div>
        <div class="medium-5 end">
        {% if page.header.activate_title %}
          <h1 class="editable">MON titre est celui-ci.</h1>
        {% endif %}
          <div class="text-small editable"><p>Mon teste d&#39;introduction est celui l&agrave;</p></div>

          {% if page.header.activate_counter %}
          <div class="signs text-center">
	        <span class="editable">Déjà</span> <span id="nb_signatures_header">{{page.formulaire.nb_signataires}}</span> <span class="editable">signataires</span>
          </div>
        {% endif %}
          <div class="text-center">
              {% if page.header.activate_sign_button %}
            <div class="inline-block">
              <a href="#sign" class="parallelogram red"><span class="editable">Je signe la pétition</span></a>
            </div>
            {% endif %}
            {% if page.header.activate_more_button %}
            <div class="inline-block">
              <a href="#info" class="parallelogram orange"><span class="editable">En savoir +</span></a>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row full-width bg-yellow" id="sign">
    <div class="row">
      <div class="small-12 columns end">
        <div class="title text-center">
	  <span class="editable">Déjà</span> <span id="nb_signatures_content">{{page.formulaire.nb_signataires}}</span> <span class="editable">signataires</span>
        </div>

        <div class="text text-center editable"><p>Signe la p&eacute;tition parce que c&#39;est bien</p></div>

        <div class="required text-center editable"><p>* champs obligatoires</p></div>
        {% include form.html %}
      </div>
    </div>
  </div>
  {% if page.contenu.activate %}
  <div class="row full-width bg2" id="bg2" style="background: url('{{page.contenu.image_path}}') no-repeat scroll center center / auto 100%;"></div>
  {% endif %}
  <div class="row full-width bg-beige" id="info">
    <div class="row">
      <div class="small-12 columns end">
        <div class="title text-center editable"><h2>Mon titre 2 est celui-ci</h2></div>
        <div class="text editable"><p>Voici ma p&eacute;tition au complet</p></div>

        <div class="text-center">
          <a href="#sign" class="parallelogram"><span class="editable">Je signe la pétition</span></a>
        </div>
      </div>
    </div>
  </div>
   
  <div class="row full-width bg3" style="background: url('{{page.footer.image_path}}') no-repeat center center / auto 100%;">
    <div class="row padding">
        {% if page.footer.activate %}
        <div class="small-12 columns end">
          <div class="title text-center white editable"><h2 style="color: white;">MON TITRE DE FOOTER EST CELUI LA</h2></div>
          <div class="subtitle text-center editable"><p>Etiam eget velit erat. Aenean diam sem, interdum a sapien id, hendrerit cursus est. Praesent cursus mi massa, nec finibus dolor volutpat euismod. In a eros vel lorem finibus semper. In hac habitasse platea dictumst. Morbi congue at risus non lobortis. Duis consectetur lobortis luctus.</p></div>
          
            {% case page.footer.bloc %}
            
            {% when '3' %}
            <div class="large-4 columns text text-center editable">
	Lorerro quiandipsam, que nonecustis sin cus, untium auda volore commolorum ulparis erro quiae nonsedis adit, qui consequame seque dolendam atqui dolor sum.
            </div>
            <div class="large-4 columns text text-center editable">
	Lorerro quiandipsam, que nonecustis sin cus, untium auda volore commolorum ulparis erro quiae nonsedis adit, qui consequame seque dolendam atqui dolor sum.
            </div>
            <div class="large-4 columns end text text-center editable">
	Lorerro quiandipsam, que nonecustis sin cus, untium auda volore commolorum ulparis erro quiae nonsedis adit, qui consequame seque dolendam atqui dolor sum.
            </div>
            
            {% when '2' %}
            <div class="large-6 columns text text-center editable">
	Lorerro quiandipsam, que nonecustis sin cus, untium auda volore commolorum ulparis erro quiae nonsedis adit, qui consequame seque dolendam atqui dolor sum.
            </div>
            <div class="large-6 columns text text-center editable"><p>Blabla Lorerro quiandipsam, que nonecustis sin cus, untium auda volore commolorum ulparis erro quiae nonsedis adit, qui consequame seque dolendam atqui dolor sum.</p></div>
            
            {% else %}
            <div class="large-1 columns text text-center editable">
	Lorerro quiandipsam, que nonecustis sin cus, untium auda volore commolorum ulparis erro quiae nonsedis adit, qui consequame seque dolendam atqui dolor sum.
            </div>
            {% endcase %}
        </div>
        {% endif %}
      </div>
        {% include t_footer_care.html %}
      </div>
        {% include credits.html %}
        {% include foundation.html %}
    <script>
			$(document).ready(function(){
				 if ("email" in p){
						 $("input[name='email']").val(p["email"]);
				 }
				 if ("firstname" in p){
						 $("input[name='firstname']").val(p["firstname"]);
				 }
				 if ("lastname" in p){
						 $("input[name='lastname']").val(p["lastname"]);
				 }
			});
	</script>   
    <script src="https://cdn.firebase.com/js/client/2.3.0/firebase.js"></script>
    <script>
        {% if page.code_campagne != nill and page.code_campagne != empty %}
        var counter_name = "counter" + "-" + "{{ page.code_campagne }}";
        var fb = new Firebase("{{site.fire_base_url}}");
        {% else %}
        console.log("No counter name");
        var count_name = "counter";
        var fb = new Firebase("{{site.fire_base_url}}" + count_name);
        {% endif %}
      fb.child(counter_name).on("value", function(show) {
	var base_nbr = 0;
	{% if page.formulaire.nb_signataires %}
	  var base_nbr = parseInt("{{ page.formulaire.nb_signataires }}");
	{% endif %}
	var base_nbr = base_nbr + show.val();
	document.getElementById("nb_signatures_header").innerHTML = base_nbr;
	document.getElementById("nb_signatures_content").innerHTML = base_nbr;
	Firebase.goOffline();
      });
    </script>



