{% if include.mode == "stucked" %}
  <table class="panel centered clean" style="height: {{ include.height }}px;{% if include.background_image_path %} background-image:url({{ include.background_image_path }});{% endif %}background-size:cover;" data-equalizer-watch>
    <tr>
      <td valign="middle">
	<h1 class="text-center" style="font-size: {{ include.font-size-title }}px;">{{ include.title }}</h1>
	<p style="font-size: {{ include.font-size-text }}">{{ include.description }}</p>
	{% if include.sub_description %}<p class="sub-description">{{ include.sub_description }}</p>{% endif %}
      </td>
    </tr>
    <tr>
      <td valign="bottom" style="text-align:center; height: 10%;">
	{% if include.button_text != nill and include.button_texte != empty %}
	  <a href="{{ include.url }}" class="button">{{ include.button_text }}</a>
	{% elsif include.image_button_path != nill and include.image_button_path != empty %}
	  <a href="{{ include.url }}"><img src="{{ include.image_button_path }}" alt="{{ include.button_alt }}" class="centered"></a>
	{% endif %}
      </td>
    </tr>
  </table>
{% elsif include.mode == "spaced" %}
  <table class="panel centered clean" style="height: {{ include.height }}px;{% if include.background_image_path %} background-image:url({{ include.background_image_path }});{% endif %}">
    <tr>
      <th valign="top">
	<h1 class="text-center" style="font-size: {{ include.font-size-title }}px;">{{ include.title }}</h1>
      </th>
    </tr>
    <tr>
      <td style="text-align:center;{% if include.image %}background-image:url({{ include.image }});{% endif %}background-size: cover;">
	<table class="panel centered clean" style="background-color: transparent !important;">
	  {% if current.image == nil %}
	    <tr>
	      <td valign="middle">
		<p class="text-center" style="font-size: {{ include.font-size-text }}px;">{{ current.description }}</p>
	      </td>
	    </tr>
	  {% endif %}
	  <tr>
	    <td valign="bottom">
	      {% if include.button_text != nill and include.button_texte != empty %}
		<a href="{{ include.url }}" class="button">{{ include.button_text }}</a>
	      {% elsif include.image_button_path != nill and include.image_button_path != empty %}
		<a href="{{ include.url }}"><img src="{{ include.image_button_path }}" alt="{{ include.button_alt }}" class="centered"></a>
	      {% endif %}
	    </td>
	  </tr>
	</table>
      </td>
    </tr>
  </table>
{% endif %}
