{% assign content_list=site.posts %}
{% if page.my_collect == 'temoignages' %}
  {% assign content_list=site.temoignages %}
{% elsif page.my_collect == 'images' %}
  {% assign content_list=site.images %}
{% elsif page.my_collect == 'projets' %}
  {% assign content_list=site.projets %}
{% elsif page.my_collect == 'evenements' %}
  {% assign content_list=site.evenements %}
{% else %}
  {% assign content_list=site.posts %}
{% endif %}


{% for c in content_list %}
{% if c.title == page.title %}
  {% assign thisPost = c %}
  {% if forloop.index == 1 %}
    {% assign prevflag = 0 %}
    {% assign nextflag = 1 %}
  {% elsif forloop.index == forloop.length %}
    {% assign prevflag = 1 %}
    {% assign nextflag = 0 %}
  {% else %}
    {% assign prevflag = 1 %}
    {% assign nextflag = 1 %}
  {% endif %}
{% endif %}
{% endfor %}

{% for c in content_list %}
  {% if c.title == page.title %}
    {% assign prevflag = 0 %}
  {% endif %}
  {% if prevflag == 1 %}
    {% assign prevPost = c %}
    {% assign page.previous = c %}
  {% endif %}
{% endfor %}

{% if nextflag == 1 %}
  {% for c in content_list %}
    {% if foundPost == 1 %}
      {% assign getNext = 1 %}
    {% endif %}
    {% if c.title == page.title %}
      {% assign foundPost = 1 %}
    {% endif %}
    {% if getNext == 1%}
      {% assign nextPost = c %}
      {% assign page.next = c %}
      {% assign foundPost = 0 %}
      {% assign getNext = 0 %}
    {% endif %}
  {% endfor %}
{% endif %}

{% if prevPost.url %}
<div class="flecheG">
    <a href="{{prevPost.url}}"><img src="/img/flecheG.png" alt="" /></a>
</div>
{% endif %}
{% if nextPost.url %}
<div class="flecheD">
    <a href="{{nextPost.url}}"><img src="/img/flecheD.png" alt="" /></a>
</div>
{% endif %}
