<div class="row transparent">
  <div class="large-10 large-offset-1 medium-8 medium-offset-2 small-12 end">
      <!-- 3 boutons -->
      <div class="large-4 medium-12 small-12 columns editable text-center">
        <div class="full-btn align-center">
          <a href="/nous-soutenir/le-don.html">
            <p>
              <span class="align-middle">Le don</span>
            </p>
          </a>
        </div>
      </div>
      <div class="large-4 medium-12 small-12 columns editable"><div class="full-btn"><a href="/nous-soutenir/le-legs-et-la-donation.html"><p><span class="align-middle">Le legs et <br>la donation</span></p></a></div></div>
      <div class="large-4 medium-12 small-12 columns editable"><div class="full-btn"><a href="/nous-soutenir/avantages-fiscaux.html"><p><span class="align-middle">Avantages <br>fiscaux</span></p></a></div></div>
  </div>
</div>
