<div id="form-info" class="row bkg-blue">
    <div class="large-10 large-offset-1 end columns">
        <form action="/remerciement/mise_en_relation.html" method="post" data-abide>
            <div class="row">
                <div class="large-12 columns">
                  <div class="row">
                      <div class="large-12 columns">
                          <h2 class="editable">Ce contenu vous int&eacute;resse ?<br />EnVOYEZ-NOUS UN MESSAGE</h2>
                      </div>
                  </div>
                  <div class="row description">
                    <div class="large-12 columns editable"><p class="text-left" style="margin: 0px;">Les informations que vous nous communiquez ne pourront &ecirc;tre transmises &agrave; un tiers sans votre accord.</p><p class="text-left" style="margin: 0px;">&nbsp;</p></div>
                  </div>
                </div>
            </div>

              <div class="row">
                <div class="large-6 columns">
                  <input type="hidden" name="nom_formulaire" value="mise_en_relation" />
                  <input type="hidden" name="temoignage_de" value="{{site.url}}{{page.url}}" />
                  <input required class="form-field" type="text" name="firstname" placeholder="VOTRE PRÉNOM*" />
                  <small class="error">Vous devez renseigner votre prénom</small>
                </div>
                <div class="large-6 columns">
                  <input required class="form-field" type="text" name="lastname" placeholder="VOTRE NOM*" />
                  <small class="error">Vous devez renseigner votre nom</small>
                </div>
              </div>
              <div class="row">
                <div class="large-12 columns">
                  <input required class="form-field" type="text" name="address" placeholder="ADRESSE" />
                  <small class="error">Vous devez renseigner votre adresse</small>
                </div>
              </div>
              <div class="row">
                <div class="large-6 columns">
                  <input required class="form-field" type="text" name="postcode" placeholder="CODE POSTAL" />
                  <small class="error">Vous devez renseigner votre code postal</small>
                </div>
                <div class="large-6 columns">
                  <input required class="form-field" type="text" name="city" placeholder="VILLE" />
                  <small class="error">Vous devez renseigner votre ville</small>
                </div>
              </div>
              <div class="row">
                <div class="large-6 columns">
                  <input class="form-field" type="text" name="phone" placeholder="TÉLÉPHONE" />
                </div>
                <div class="large-6 columns">
                  <input required class="form-field" type="email" name="email" placeholder="EMAIL*" />
                  <small class="error">Vous devez renseigner votre email</small>
                </div>
              </div>

              <div class="row">
                <div class="large-3 columns">
                  <label class="left inline">COEUR VAILLANT DE : </label>
                </div>
                <div class="large-4 columns">
                <input class="form-field" type="number" name="coeurvaillant_de" placeholder="ANNEE" />
                </div>
                <div class="large-1 columns">
                  <label class="left inline">À :</label>
                </div>
                <div class="large-4 columns end">
                <input class="form-field" type="number" name="coeur_vaillant_a" placeholder="ANNEE" />
                </div>
              </div>

              <div class="row">
                <div class="large-3 columns">
                  <label class="left inline">ÂME VAILLANTE DE : </label>
                </div>
                <div class="large-4 columns">
                  <input class="form-field" type="number" name="ame_vaillantes_de" placeholder="ANNEE" />
                </div>
                <div class="large-1 columns">
                  <label class="left inline">À :</label>
                </div>
                <div class="large-4 columns end">
                  <input class="form-field" type="number" name="ame_vaillantes_a" placeholder="ANNEE" />
                </div>
              </div>

              <div class="row">
                <div class="large-12 columns">
                <input class="form-field" type="text" name="paroisse" placeholder="PAROISSE" />
                </div>
              </div>

              <div class="row">
                <div class="large-12 columns">
                  <p class="text-right">*Champs obligatoires</p>
                </div>
              </div>

              <div class="row">
                <div class="large-12 columns">
                  <input type="hidden" name="cc_emails[]" value="{{site.data.configuration.formulaire_temoignage_destinataire}}" />
                  <button type="submit">Envoyer</button>
                </div>
              </div>
        </form>
    </div>
</div>
