<div class="sidebar row">
    <div class="logo large-12">
        <a href="/">
            <img class="logowidth" src="/img/anglelogo.jpg" alt="Logo coeur vaillant ame vaillante" />
        </a>
    </div>
    <nav class="menu-interieur large-12">
        <ul>
          {% for link in site.data.menu.principal %}
            <li><a href="{{link.url_path}}">{{link.nom}}</a></li>
          {% endfor %}
        </ul>
        <form action="#" method="post">
            <div id="search" class="large-12 column">
                <input type="text" class="st-default-search-input" placeholder="Recherche">
            </div>
        </form>
        <a href="{{site.url_iraiser}}">
          <div class="large-12 column nav-don-button">
            <div class="don-button full-btn">
              <p>
                <span class="align-midlle editable">Je fais un don</span>
              </p>
            </div>
          </div>
        </a>
    </nav>
</div>
