<!-- BOUTON FOOTER -->
 <div id="button-footer" class="large-12 columns padder-120">
     <div class="row">
         <div class="large-10 large-offset-1 medium-8 medium-offset-2 small-12 end">
             <div class="large-4 medium-4 columns editable">
                 <a href="{{site.url_iraiser}}"><div class="full-btn align-center"><p class="editable"><span class="align-middle">Faire un don</span></p></div></a>
             </div>
              <div class="large-4 medium-4 columns editable">
                  <a href="/projets/tous-les-projets.html"><div class="full-btn"><p class="paraph-white editable"><span class="align-middle">Nos projets</span></p></div></a>
             </div>

              <div class="large-4 medium-4 columns editable">
                  <a href="/retrouvons-nous/dites-nous-qui-vous-etes.html"><div class="full-btn"><p class="paraph-white editable"><span class="align-middle">Retrouvons-nous</span></p></div></a>
             </div>
         </div>

     </div>
 </div>
 <!-- /BOUTON FOOTER -->
