{% if page.formulaire.actif %}
<div id="form-info" class="row bkg-blue">
    <div class="large-10 large-offset-1 end columns">
        <form action="/remerciement/formulaire.html" method="post" data-abide>
            <div class="row">
                <div class="large-12 columns">
                    <div class="row">
                        <div class="large-12 columns editable">
                            <h2 class="editable">Titre</h2>
                        </div>
                    </div>
                    <div class="row description">
                      <div class="large-offset-1 large-10 columns editable">
                        <p class="text-left editable" style="margin: 0px">litora torquent per conubia nostra, per inceptos himenaeos. Nunc id arcu varius augue posuere commodo. Donec sodales a arcu quis imperdiet. Ut et nulla rhoncus, tincidunt velit nec, bibendum nulla. Vivamus ac elementum sapien. Pellentesque habitant morbi tristique senectus</p>
                      </div>
                    </div>
                </div>
            </div>
            {% if page.formulaire.coordonnees_actives %}
            <div class="row margin-infos">
              <div class="large-offset-1 large-10 columns orange description formulaire-description editable">
        	       <img alt="bloc1" src="/img/bloc1.jpg" />
                 <span class="collimg">téléphone : 0666666666 <br /> TITRE  <br /> prénom nom</span>
              </div>
            </div>
            {% endif %}
            <div class="row">
                <div class="large-6 columns">
                  <input type="hidden" name="cc_emails[]" value="{{page.formulaire.nom_du_formulaire}}" />
                    <input class="majplace" type="text" name="lastname" placeholder="VOTRE NOM*" required />
                    <small class="error">Vous devez renseigner votre nom</small>
                </div>
                <div class="large-6 columns">
                    <input class="majplace" type="text" name="firstname" required placeholder="VOTRE PRENOM*" />
                    <small class="error">Vous devez renseigner votre prénom</small>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <input class="majplace" type="text" name="adresse" placeholder="ADRESSE" />
                </div>
            </div>
            <div class="row">
                <div class="large-6 columns">
                    <input class="majplace" type="text" name="codePostal" placeholder="CODE POSTAL" />
                </div>
                <div class="large-6 columns">
                    <input class="majplace" type="text" name="ville" placeholder="VILLE" />
                </div>
            </div>
            <div class="row">
                <div class="large-6 columns">
                    <input class="majplace" type="tel" name="telephone" placeholder="TELEPHONE" />
                </div>
                <div class="large-6 columns">
                    <input class="majplace" type="email" name="email" required placeholder="EMAIL*" />
                    <small class="error">Vous devez renseigner votre email</small>
                </div>
            </div>
            <div class="row">
              <div class="large-12 columns">
                <textarea rows="4" class="form-field" name="message" placeholder="VOTRE MESSAGE"></textarea>
              </div>
            </div>
            <!--
            <div class="row">
                <div class="large-12 columns">
                    <input type="checkbox" name="optin" id="optin" /><label for="optin">Je souhaite recevoir de l'information par email ou par téléphone du fonds CVAV</label>
                </div>
            </div>
          -->
            <input type="hidden" name="cc_emails[]" value="{{page.formulaire.destinataire}}" />
            <div class="row">
                <div class="large-12 columns">
                    <button type="submit">Envoyer</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endif %}
