<div class="row" style="margin-top:2rem">
  <div id="newsletter" class="large-12 medium-12 small-12 columns newsletter">
    <form action="{{site.data.newsletter.page_remerciement}}" method="post" data-abide id="footer_mod">
      <div class=" row">
        <div class="large-5 medium-5 small-12 columns text-center editable">
            Inscrivez-vous à notre newsletter
        </div>
        <div class="large-5 medium-5 small-10 columns">
            <input type="hidden" name="nom_formulaire" value="inscription_newsletter" />
            <input required name="email" class="mail" type="email" placeholder="votre adresse email" />
            <small class="error">Vous devez renseigner votre email</small>
            <input type="hidden" name="cc_emails[]" value="{{site.data.newsletter.destinataire}}" />
        </div>
        <div class="large-2 medium-2 small-2 columns">
            <div class="valide-nl">
              <input type="image" src="/img/valide-newsletter.png" alt="Submit Form" />
            </div>
        </div>
      </div>
    </form>
  </div>
</div>
