<nav class="menu-mobile row">
      <div class=" bkg-white">
          <div class="large-6 medium-6 small-6 columns"><div class="logo-mobile"><a href="/"><img src="/img/logo-mobile.png" /></a></div></div>
          <div class="large-6 medium-6 small-6 columns"><div class="burger"><img src="/img/burger.png" /></div></div>
      <div class="menu-list columns large-12 medium-12 small-12">
              <ul>
                {% for link in site.data.menu.principal %}
                  <li><a href="{{link.url_path}}">{{link.nom}}</a></li>
                {% endfor %}
              </ul>
              <form action="#" method="post">
                  <div id="search" class="large-12 column">
                      <input type="text" class="st-default-search-input" placeholder="Recherche">
                  </div>
              </form>
              <a href="{{site.url_iraiser}}">
                <div class="large-12 column nav-don-button">
                  <div class="don-button full-btn">
                    <p><span class="align-midlle editable">Je fais un don</span></p>
                  </div>
                </div>
              </a>
          </div>
      </div>
  </nav>
