		<div class="row full-width bg3" style="background: url('{{page.footer.image_path}}') no-repeat center center / auto 100%;">
			<div class="row padding">
					<div class="small-12 columns end">
						<div class="title text-center">{{page.footer.titre}}</div>
						<div class="subtitle text-center">{{page.footer.introduction}}</div>

						<div class="large-4 columns text text-center">
							{{page.footer.contenu.left}}
						</div>
						<div class="large-4 columns text text-center">
							{{page.footer.contenu.mid}}
						</div>
						<div class="large-4 columns end text text-center">
							{{page.footer.contenu.right}}
						</div>
					</div>
				</div>
				<div class="overlay show-for-large-only">
					<div class="row">
						<div class="small-1 columns">
							<img src="/static/img/logo-bottom.png" />
						</div>
						<div class="small-4 small-offset-1 columns text text-center">
							Visitez<br />
							<a href="#" class="visit">carefrance.org <img src="/static/img/arrow2.png" /></a>
						</div>
						<div class="small-4 columns text text-center">
							Suivez-nous sur<br />
							<div class="follows">
								<a href="{{page.footer.fb_link}}" class="follow"><img src="/static/img/logo_fb.png" onmouseover="this.src = '/static/img/logo_fb_on.png';" onmouseout="this.src = '/static/img/logo_fb.png';" /></a>
								<a href="{{page.footer.tw_link}}" class="follow"><img src="/static/img/logo_tw.png" onmouseover="this.src = '/static/img/logo_tw_on.png';" onmouseout="this.src = '/static/img/logo_tw.png';" /></a>
								<a href="{{page.footer.gp_link}}" class="follow"><img src="/static/img/logo_gp.png" onmouseover="this.src = '/static/img/logo_gp_on.png';" onmouseout="this.src = '/static/img/logo_gp.png';" /></a>
							</div>
						</div>
						<div class="small-2 columns text-right">
							<img src="/static/img/logo_confiance.png" />
						</div>
					</div>
				</div>
				<div class="overlay hide-for-large-only">
					<div class="row">
						<div class="small-6 columns">
							<a href="http://www.carefrance.org/" target="_blank"><img src="/static/img/logo-bottom.png" /></a>
						</div>
						<div class="small-6 columns text-right">
							<a href="http://www.comitecharte.org/" target="_blank" ><img src="/static/img/logo_confiance.png" /></a>
						</div>
						<div class="small-12 columns text text-center">
							Visitez<br />
							<a href="{{page.footer.site_link}}" target="_blank" class="visit">carefrance.org <img src="/static/img/arrow2.png" /></a>
						</div>
						<div class="small-12 columns end text text-center">
							Suivez-nous sur<br />
							<div class="follows">
								<a href="{{page.footer.fb_link}}" target="_blank" class="follow"><img src="/static/img/logo_fb.png" onmouseover="this.src = '/static/img/logo_fb_on.png';" onmouseout="this.src = '/static/img/logo_fb.png';" /></a>
								<a href="{{page.footer.tw_link}}" target="_blank" class="follow"><img src="/static/img/logo_tw.png" onmouseover="this.src = '/static/img/logo_tw_on.png';" onmouseout="this.src = '/static/img/logo_tw.png';" /></a>
								<a href="{{page.footer.gp_link}}" target="_blank" class="follow"><img src="/static/img/logo_gp.png" onmouseover="this.src = '/static/img/logo_gp_on.png';" onmouseout="this.src = '/static/img/logo_gp.png';" /></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="footer">
			<div class="row full-width">
				<div cass="row">
					<div class="small-12 columns end text-center">
						<a href="#">Adfinitas</a>
					</div>
				</div>
			</div>
		</div>
