{% assign module=site.footer %}
<div class="row footer">
    <div class="large-1 small-1 medium-1 columns">&nbsp;</div>
    <div class="large-10 small-10 medium-10 columns">
        <form method="post" id="footer_mod">
            <div class="row">
                <div class="large-6 medium-6 columns show-for-medium-up text-left label-inscription">
                Inscrivez vous à notre newsletter :
                </div>
                <div class="small-12 columns show-for-small-only text-center">
                Inscrivez vous à notre newsletter :
                </div>
                <div class="large-6 medium-6 small-12 columns box-newsletter">
                    <div class="row collapse">
                        <div class="large-11 medium-11 small-11 columns">
                            <input required type="email" name="email" placeholder="Votre adresse email*" class="input-email">
                        </div>
                        <div class="large-1 medium-1 small-1 columns">
			  <input id="submit-btn"  value="" type="submit" class="fi-play" href="#" />
                        </div>
                        <div class="large-12 columns">
                            <div data-alert class="alert-box round" style="display: none;" id="msg-valid-footer">
                                Votre inscription à la newsletter a bien été prise en compte.
                                <a href="#" class="close">&times;</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" name="cc_emails[]" value="" />
        </form>
        <div class="row">
          <div class="large-12 columns">
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="large-7 medium-12 small-12 columns">
            <div class="row">
                <div class="large-6 small-12 medium-12 columns">
                    <div class="row">
                        <div class="large-12 columns text-left border-right show-for-large-only">
                            <ul class="no-bullet lien-footer">
                    	        {% for link in module.links %}
                    	            <li><a href="{{ link.url }}">{{ link.text }}</a></li>
                    	        {% endfor %}
                	        </ul>
                	    </div>
                	    <div class="medium-12 columns text-center show-for-medium-only">
                            <ul class="no-bullet lien-footer">
                    	        {% for link in module.links %}
                    	            <li><a href="{{ link.url }}">{{ link.text }}</a></li>
                    	        {% endfor %}
                	        </ul>
                	    </div>
                	    <div class="small-12 columns text-center show-for-small-only">
                            <ul class="no-bullet lien-footer">
                    	        {% for link in module.links %}
                    	            <li><a href="{{ link.url }}">{{ link.text }}</a></li>
                    	        {% endfor %}
                	        </ul>
                	    </div>
            	    </div>
                </div>
                <div class="large-6 columns image-align"> 
        	        {% for image in module.images %}
        	        <a href="{{ image.url }}"><img src="{{ image.image }}" alt="{{ image.alt_image }}"></a>
        	        <br />
        	        {% endfor %}
                </div>
            </div>
            <div class="row">
                        <div class="large-12 columns">
                	        <hr>
                	        {{ module.texte_bas }}
                        </div>
                    </div>
          </div>
          <div class="large-5 columns text-center show-for-large-only">
                <img src="{{ module.image_right_path }}" alt="{{ module.image_right_alt }}">
          </div>
        </div>
    </div>
    <div class="large-1 small-1 medium-1 columns">&nbsp;</div>
</div>
<script>
var footer = 1;
</script>
