
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ page.meta.title }}</title>
    		<meta name="description" content="{{page.meta.description}}" />
    		<meta name="keywords" content="{{page.meta.keywords}}">
    		<link rel="stylesheet" href="/static/css/foundation.css" />
    		<link rel="stylesheet" href="/static/css/custom.css" />
    		<link rel="stylesheet" href="/static/css/intlTelInput.css" />
    		<script src="/static/js/vendor/modernizr.js"></script>
        {% include extractparam.html %}
        {% include woopra.html %}
        {% include threads.html %}
    </head>
