{% if list_count %}
{% assign list_count=list_count | plus:1 %}
{% else %}
{% assign list_count=0 %}
{% endif %}
{% capture id_name %}liste_{{ list_count }}{% endcapture %}
{% include title.html title=module.titre pictogram=module.pictogram description=module.description id=id_name %}
<div class="row">
  <div class="large-12 columns">
    <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3" data-equalizer>
      {% assign collec=include.collec.docs | sort: 'date' | reverse %}
      {% for current in collec %}
      {% if current.affichage_en_liste.titre != empty and current.affichage_en_liste.titre != nill %}
      {% assign titre=current.affichage_en_liste.titre %}
      {% else %}
      {% assign titre=current.title %}
      {% endif %}
      {% if current.affichage_en_liste.introduction != empty and current.affichage_en_liste.introduction != nill %} 
      {% assign introduction=current.affichage_en_liste.introduction %}
      {% else %}
      {% assign introduction=current.introduction | truncatewords: 10 %}
      {% endif %}
      {% assign image=current.affichage_en_liste.image %}

	  <li>
	    <a href="{{ current.url }}" title="{{ titre }}" class="actu" data-equalizer-watch>
	      {% if titre and titre != empty %}
	      <h3>{{ titre }}</h3>
	      {% endif %}
	      {% if image != nill and image != empty %}
	      <img alt="actualites" src=" {{ image }}" />
	      {% else %}
	      <div class="text">
		{{ introduction }}
	      </div>
	      {% endif %}
	      <img class="btn-actu" src="{{ site.buttons["Plus"].image }}" alt="{{ site.buttons["Plus"].alt }}">
	    </a>

	  </li>

	{% comment %}
	<li class="liste-item">
	<div class="panel centered bloc" style="background-image: url({{ image }}); background-size: cover;" data-equalizer-watch>
	  <h2 class="title_bloc">{{ titre }}</h2>
	  <p class="description_bloc">{{ introduction }}</p>
	  <!-- <p class="sub-description_bloc">{{ current.sous_description }}</p> -->
	  <a class="cta-button" target="_blank" href="{{ current.url }}"><img class="bottom" src="{{ site.buttons["Plus"].image }}" alt="{{ site.buttons["Plus"].alt }}"></a>
	  <div style="height: 40px;"></div>
	</div>
	</li>
	{% endcomment %}

	{% comment %}
	{% if current.affichage_en_liste.mode == "titre + introduction" %}
	  {% assign image=nill %}
	{% elsif current.affichage_en_liste.mode == "image" %}
	  {% assign titre=nill %}
	  {% assign introduction=nill %}
	{% endif %}
	{% endcomment %}
	{% comment %}
	{% include bloc.html mode="stucked" height="400" font-size-title="44" font-size-text="14" title=titre description=introduction url=current.url button_text=nill image_button_path="/img/svg/pictograms_btn/more.svg" button_alt="Plus d'informations" background_image_path=image %}
	{% include bloc.html mode="stucked" height="400" font-size-title="44" font-size-text="14" title=current.title description=current.affichage_en_liste.introduction url=current.url button_text=module.button_text background_image_path=current.affichage_en_liste.image image_button_path=module.image_button_path %}
	{% include bloc.html mode="spaced" height="400" font-size-title="44" font-size-text="14" title=current.title description=current.affichage_en_liste.introduction url=current.url button_text=module.button_text image=current.image background_image_path=current.background_image_path image_button_path=module.image_button_path %}
	{% endcomment %}
      {% endfor %}
    </ul>
  </div>
</div>
{% comment %}
<div class="row">
  <div class="large-12 columns centered">
    <a class="button" href="/list_pages/{{ include.collec.label }}.html">{{ module.texte_bouton }}</a>
  </div>
</div>
{% endcomment %}
