{% include title.html title=module.titre pictogram=module.pictogram description=module.description %}
<div id="listId" >
  <div class="row">
    <div class="large-12 columns">
      <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3 list">
	{% assign collec=include.collec | sort: 'date' | reverse %}
	{% for current in collec | sort : 'date' %}

	{% if current.affichage_en_liste.titre != empty and current.affichage_en_liste.titre != nill %}
	{% assign titre=current.affichage_en_liste.titre %}
	{% else %}
	{% assign titre=current.title %}
	{% endif %}
	{% if current.affichage_en_liste.introduction != empty and current.affichage_en_liste.introduction != nill %} 
	{% assign introduction=current.affichage_en_liste.introduction %}
	{% else %}
	{% assign introduction=current.introduction | truncatewords: 20 %}
	{% endif %}
	{% assign image=current.affichage_en_liste.image %}

	{% if current.affichage_en_liste.mode == "titre + introduction" %}
	{% assign image=nill %}
	{% elsif current.affichage_en_liste.mode == "image" %}
	{% assign titre=nill %}
	{% assign introduction=nill %}
	{% endif %}
	<li>
	{% include bloc.html mode="stucked" height="400" font-size-title="44" font-size-text="14" title=titre description=introduction url=current.url button_text=nill image_button_path="http://dummyimage.com/54x54/000/fff" button_alt="Plus d'informations" background_image_path=image %}
	{% comment %}
	{% include bloc.html mode="stucked" height="400" font-size-title="44" font-size-text="14" title=current.title description=current.affichage_en_liste.introduction url=current.url button_text=module.button_text background_image_path=current.affichage_en_liste.image image_button_path=module.image_button_path %}
	{% endcomment %}
	{% comment %}
	{% include bloc.html mode="spaced" height="400" font-size-title="44" font-size-text="14" title=current.title description=current.affichage_en_liste.introduction url=current.url button_text=module.button_text image=current.image background_image_path=current.background_image_path image_button_path=module.image_button_path %}
	{% endcomment %}
	</li>
	{% endfor %}
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns pagination-centered">
      <ul class="pagination"></ul>
    </div>
  </div>
</div>
<script>
  if (typeof id == 'undefined') {
    var id = 0;
  }
  var id = id + 1;
  var options = {
    valueNames: [ ],
    page: {{ module.nbr_items }},
    plugins: [
    ListPagination({})
    ]
  };
  $("#listId").attr("id", "listId" + id);
  var listObj = new List('listId' + id, options);
</script>
