<div class="module">
  <ul class="example-orbit" data-orbit data-options="slide_number:false;bullets: false;pause_on_hover: false;">
    {% for current in page.module_slideshow.slide %}
      <li {% if current.active %}class="active"{% endif %}>
      <img class="restricted-size" src="{{ current.image }}" alt="{{ current.alt }}"/>
      {% if current.button_link != empty %}
	<a class="button {{ current.type }} {{current.couleur }}-btn middle-pos" href="{{ current.button_link }}">{{ current.button_text }}</a>
      {% endif %}
      {% if current.legende_de_la_slide != empty %}
	<div class="orbit-caption">
	  {{ current.legende_de_la_slide }}
	</div>
      {% endif %}
      </li>
    {% endfor %}
  </ul>
  {% if page.module_slideshow.legende != empty %}
    <div class="row">
      <div class="large-12 columns">
	{{ page.module_slideshow.legende }}
      </div>
    </div>
  {% endif %}
</div>
