<div class="module">
<script src="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
<div class="row">
  <div class="large-12 columns" style="padding:0">
    <div id="map" style="height: {{ page.module_map.height }};"></div>
  </div>
</div>
<script>
  var map = L.map('map', {
    scrollWheelZoom: {{ page.module_map.scroll_with_mouse }}
  }).setView([parseFloat({{ page.module_map.init_x }}), parseFloat({{ page.module_map.init_y }})], parseFloat({{ page.module_map.init_z}}));

  L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);

  {% for marker in page.module_map.markers %}
  L.marker([parseFloat({{ marker.x }}), parseFloat({{ marker.y }})]).addTo(map)
  {% if marker.link != empty and marker.link != nill %}
    .bindPopup("<a href=\"{{ marker.link }}\">{{ marker.text }}</a>")
  {% else %}
    .bindPopup("{{ marker.text }}")
  {% endif %}
  {% if marker.popup %}
  .openPopup();
  {% else %}
  ;
  {% endif %}
  {% endfor %}
</script>
</div>
