<div class="module">
{% assign module=page.module_equivalence_don %}
<div class="row">
    <div class="large-12 medium-10 small-10 columns">
            {% include title-equivalence.html title=module.titre description=module.description %}
            {% for bloc in page.module_equivalence_don.blocs %}
            {% assign module=page.module_equivalence_don %}
            {% include create_iraiser_url.html cid=module.id_campaign_iraiser amount=bloc.montant_equivalence frequency=module.type_de_don %}
            <div class="row">
              <div class="large-12 medium-12 small-12 columns">
                <div class="row equivalence-don" style="margin-bottom:1rem">
                    <div class="large-2 medium-12 small-12 columns text-center" style="padding:1.5rem 0;">
                        <img src="{{ bloc.image }}" alt="{{ bloc.alt_image }}">
                    </div>
                    <div class="large-10 medium-12 small-12 columns">
                        <div class="row show-for-large-up">
                            <div class="large-8 columns text-left">
                                <span class="amount">{{ bloc.montant_equivalence }}<span class="euro">€</span></span>
                            </div>
                            <div class="large-4 columns text-right" style="padding-top: 1.5rem;">
                                <a class="button don" target="_blank" href="{{ site.url_iraiser }}/?cid={{module.id_campaign_iraiser}}&once_grid[]={{bloc.montant_equivalence | times : 100}}&once_grid[]={{bloc.montant_equivalence | plus : 5 | times : 100}}&once_grid[]={{bloc.montant_equivalence | plus : 10 | times : 100}}&amount={{bloc.montant_equivalence | times : 100}}&frequency={{module.type_de_don}}">{{ bloc.texte_bouton }}</a>
                            </div>
                            <div class="large-12 columns text-left">
                                {{ bloc.texte_equivalence }}
                            </div>
                        </div>
                        <div class="row show-for-medium-only">
                            <div class="small-12 columns text-center">
                                <span class="amount">{{ bloc.montant_equivalence }}<span class="euro">€</span></span>
                            </div>
                            <div class="small-12 columns text-center">
                                {{ bloc.texte_equivalence }}
                            </div>
                            <div class="small-12 columns text-center" style="padding: 1.5rem;">
                                <a class="button don" target="_blank" href="{{ site.url_iraiser }}/?cid={{module.id_campaign_iraiser}}&once_grid[]={{bloc.montant_equivalence | times : 100}}&once_grid[]={{bloc.montant_equivalence | plus : 5 | times : 100}}&once_grid[]={{bloc.montant_equivalence | plus : 10 | times : 100}}&amount={{bloc.montant_equivalence | times : 100}}&frequency={{module.type_de_don}}">{{ bloc.texte_bouton }}</a>
                            </div>
                        </div>
                        <div class="row show-for-small-only">
                            <div class="small-12 columns text-center">
                            <span class="amount">{{ bloc.montant_equivalence }}<span class="euro">€</span></span>
                        </div>
                            <div class="small-12 columns text-center">
                            {{ bloc.texte_equivalence }}
                        </div>
                            <div class="small-12 columns text-center" style="padding: 1.5rem;">
                            <a class="button don" target="_blank" href="{{ site.url_iraiser }}/?cid={{module.id_campaign_iraiser}}&once_grid[]={{bloc.montant_equivalence | times : 100}}&once_grid[]={{bloc.montant_equivalence | plus : 5 | times : 100}}&once_grid[]={{bloc.montant_equivalence | plus : 10 | times : 100}}&amount={{bloc.montant_equivalence | times : 100}}&frequency={{module.type_de_don}}">{{ bloc.texte_bouton }}</a>
                            
                        </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
            {% endfor %}
    </div>
</div>
</div>
