		<div class="row full-width bg1" style="	background: url('{{page.contenu_petition.header.image_path}}') no-repeat top center / auto 100%;">
			<div class="row">
				<div class="small-12 columns">
					<div class="logo">
						<img src="{{site.logo}}" />
					</div>
					<div class="medium-6 end">
						<h1 style="font-size: {{page.contenu_petition.header.titre_size}};">{{page.contenu_petition.header.titre}}</h1>

						<div class="text-small">
						{{page.contenu_petition.header.introduction}}
						</div>

						<div class="signs text-center">
							Déjà {{page.contenu_petition.formulaire.config_form.nb_signataires}} signataires
						</div>

						<div>
							<div class="inline-block">
								<a href="#sign" class="parallelogram red"><span>{{page.contenu_petition.header.button}}</span></a>
							</div><div class="inline-block">
								<a href="#info" class="parallelogram orange"><span>En savoir +</span></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row full-width bg-yellow" style="background: #{{page.contenu_petition.formulaire.bg1}};" id="sign">
			<div class="row">
				<div class="small-12 columns end">
					<div class="title text-center">
						Déjà {{page.contenu_petition.formulaire.config_form.nb_signataires}} signataires
					</div>

					<div class="text text-center">
						{{page.contenu_petition.formulaire.introduction_formulaire}}
					</div>

					<div class="required text-center">
						* champs obligatoires
					</div>

					<form class="custom" action="index.html" method="post">
						{% if page.contenu_petition.formulaire.config_form.lastname.visibility == true %}
    						{% if page.contenu_petition.formulaire.config_form.lastname.required == true %}
    						<div class="row">
    							<div class="medium-offset-2 medium-2 columns medium-text-right">
    								<label for="form-lastname" class="control-label" >Nom*</label>
    							</div>
    							<div class="medium-5 columns end">
    								<input type="text" placeholder="Nom" class="form-control" name="lastname" id="form-lastname" required aria-required="true" data-msg-required="Entrez votre nom"/>
    							</div>
    						</div>
                            {% else %}
    						<div class="row">
    							<div class="medium-offset-2 medium-2 columns medium-text-right">
    								<label for="form-lastname" class="control-label" >Nom</label>
    							</div>
    							<div class="medium-5 columns end">
    								<input type="text" placeholder="Nom" class="form-control" name="lastname" id="form-lastname"/>
    							</div>
    						</div>
    						{% endif %}
						{% endif %}
						{% if page.contenu_petition.formulaire.config_form.firstname.visibility == true %}
    						{% if page.contenu_petition.formulaire.config_form.firstname.required == true %}
    						<div class="row">
    							<div class="medium-offset-2 medium-2 columns medium-text-right">
    								<label for="form-firstname" class="control-label">Prénom*</label>
    							</div>
    							<div class="medium-5 columns end">
    								<input type="text" placeholder="Prénom" class="form-control" name="firstname" id="form-firstname" required aria-required="true" data-msg-required="Entrez votre prénom"/>
    							</div>
    						</div>
                            {% else %}
    						<div class="row">
    							<div class="medium-offset-2 medium-2 columns medium-text-right">
    								<label for="form-firstname" class="control-label">Prénom</label>
    							</div>
    							<div class="medium-5 columns end">
    								<input type="text" placeholder="Prénom" class="form-control" name="firstname" id="form-firstname"/>
    							</div>
    						</div>
    						{% endif %}
						{% endif %}
						<div class="row">
							<div class="medium-offset-2 medium-2 columns medium-text-right">
								<label for="form-email" class="control-label">E-mail*</label>
							</div>
							<div class="medium-5 columns end">
								<input type="email" placeholder="Email" class="form-control" name="email" id="form-email" data-rule-required="true" data-rule-email="true" data-msg-email="Entrez une adresse email valide" data-msg-required="Entrez votre email"/>
							</div>
						</div>
						{% if page.contenu_petition.formulaire.config_form.radio.visibility == true %}
						<div class="row">
							<div class="medium-offset-4 medium-7 columns end">
								<div class="checkbox">
									<label>
										<input type="checkbox" name="newsletter" id="form-newsletter"> Je souhaite recevoir la newsletter de CARE FRANCE
									</label>
								</div>
							</div>
						</div>
						{% endif %}
						{% if page.contenu_petition.formulaire.config_form.phone.visibility == true %}
    						{% if page.contenu_petition.formulaire.config_form.phone.required == true %}
    						<div class="row">
    							<div class="medium-offset-2 medium-2 columns medium-text-right">
    								<label for="form-phone" class="control-label">Téléphone*</label>
    							</div>
    							<div class="medium-5 columns end">
    								<input type="tel" class="form-control" name="phone" id="form-phone" required aria-required="true" data-msg-required="Entrez votre téléphone"/>
                                    <!--<p id="phone-error" class="hide">Numéro incorrect</p>-->
                                    <!--<p id="phone-ok" class="hide">Numéro valide</p>-->
    							</div>
    						</div>
                            {% else %}
    						<div class="row">
    							<div class="medium-offset-2 medium-2 columns medium-text-right">
    								<label for="form-phone" class="control-label">Téléphone</label>
    							</div>
    							<div class="medium-5 columns end">
    								<input type="tel" class="form-control" name="phone" id="form-phone"/>
                                    <!--<p id="phone-error" class="hide">Numéro incorrect</p>-->
                                    <!--<p id="phone-ok" class="hide">Numéro valide</p>-->
    							</div>
    						</div>
       						{% endif %}
						{% endif %}
						<div class="form-text text-center">
							{{page.contenu_petition.formulaire.phrase_telephone}}
						</div>
						<div class="row">
							<div class="medium-offset-4 medium-4 columns end text-center">
								<button type="submit" class="btn btn-default parallelogram"><span>{{page.contenu_petition.formulaire.button}}</span></button>
							</div>
						</div>
						<div class="arrow text-center">
							<a href="javascript:void(0);" onclick="scrollToEl('#bg2');"><img src="/static/img/arrow.png" onmouseover="this.src = '/static/img/arrow_on.png';" onmouseout="this.src = '/static/img/arrow.png';" /></a>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="row full-width bg2" id="bg2" style="background: url('{{page.contenu_petition.header.image2_path}}') no-repeat scroll center center / auto 100%;"></div>
		<div class="row full-width bg-beige" style="background: #{{page.contenu_petition.formulaire.bg2}};" id="info">
			<div class="row">
				<div class="small-12 columns end">
					<div class="title text-center">
						{{page.contenu_petition.formulaire.titre}}
					</div>
					<div class="text">
						{{ content }}
					</div>

					<div class="text-center">
						<a href="#" class="parallelogram"><span>{{page.contenu_petition.header.button}}</span></a>
					</div>
				</div>
			</div>
		</div>
