<header>
    <div class="row logo">
        <div class="large-12 column text-center">
            <a href="{{ site.logo.url }}">
              <img class="logo" src="{{ site.logo.logo_path }}" alt="{{ site.logo.alt }}">
            </a>
        </div>
    </div>
    <div class="row bouton-don">
        <div class="large-12 column text-center padding-button">
        	<a href="{{ site.url_iraiser_donner }}" class="button don long">
        	  <span class="intro-don">DONNER</span>
        	  <br>
        	  <span class="sub-don">
        	      <img src="/img/svg/cadenas.png">Don en ligne 100% sécurisé
        	  </span>
            </a>
        </div>
    </div>
   <div class="row menu">
        <div class="large-12 column panneau"> 
        	<nav>
        		<ul class="first-level">
        			{% assign url = page.url %}
        			{% for item in site.collections %}
        				{% assign collection = item[1] %}
					{% if collection.output and collection.title != nill and collection.title != empty %}
        					{% assign parts = url | split: "/" %}
        					<li class="nav-item top-level {% if parts[1] == collection.active_prefix %}current{% endif %}">
        						{% assign items = collection.docs | sort: 'order' %}
							<div class="container-primary-nav">
        						<a href="{{ items.first.url }}">{{ collection.title }}</a>
							</div>
        						{% include secondary-nav-items.html items=items %}
        					</li>
        				{% endif %}
        			{% endfor %}
        		</ul>
        			<script type="text/javascript">
        			  (function(w,d,t,u,n,s,e){w['SwiftypeObject']=n;w[n]=w[n]||function(){
        			   (w[n].q=w[n].q||[]).push(arguments);};s=d.createElement(t);
        			   e=d.getElementsByTagName(t)[0];s.async=1;s.src=u;e.parentNode.insertBefore(s,e);
        			   })(window,document,'script','//s.swiftypecdn.com/install/v2/st.js','_st');
        			  _st('install','ec6rK-XjZeKarMv8QuRo','2.0.0');
        			</script>
        			<input type="text" class="st-default-search-input search-bar" placeholder="Recherche par mot-clé">
        	</nav>
        </div>
    </div>
</header>
