{% if include.pictogram or include.title %}
  <div class="row"{% if include.id %} id="{{ include.id }}"{% endif %}>
    {% if site.pictograms[include.pictogram].image != "nill" %}
    <div class="large-12 small-12 columns" class="titre">
        <img class="pictogram" alt="{{ site.pictograms[include.pictogram].alt }}" src="{{ site.pictograms[include.pictogram].image }}">
	<h2 class="{{ include.class_title }}">{{ include.title }}</h2>
    </div>
    {% else %}
    <div class="large-12 columns">
        <h2>{{ include.title }}</h2>
    </div>
    {% endif %}
  </div>
{% endif %}
{% if include.description != empty %}
<div class="row description">
  <div class="large-12 columns">
    <p>{{ include.description }}</p>
  </div>
</div>
{% endif %}
