<script>
woopra.identify({
    	email:     p['email'],
    	phone:     p['phone'],
    	firstname: p['firstname'],
    	lastname:  p['lastname'],
        name:      p['firstname'] + ' ' + p['lastname'],
        campagne:  '{{page.code_campagne}}'
        optin:     p['optin'],
	});
woopra.track('petition', {
	    url:   document.location.href,
        title: document.title,
        optin: p['optin'],
        email:     p['email'],
    	phone:     "+" + p['phone'].replace(/\+/g, ''),
    	firstname: p['firstname'],
    	lastname:  p['lastname'],
        campagne: '{{page.code_campagne}}'
        });
</script>