@font-face {
	font-family: "Opensans";
	src: url("/static/fonts/opensans-regular-webfont.eot");
	src: url("/static/fonts/opensans-regular-webfont.eot#iefix") format("embedded-opentype"),
	url("/static/fonts/opensans-regular-webfont.woff") format("woff"),
	url("/static/fonts/opensans-regular-webfont.ttf") format("truetype"),
	url("/static/fonts/opensans-regular-webfont.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Opensans";
	src: url("/static/fonts/opensans-bold-webfont.eot");
	src: url("/static/fonts/opensans-bold-webfont.eot#iefix") format("embedded-opentype"),
	url("/static/fonts/opensans-bold-webfont.woff") format("woff"),
	url("/static/fonts/opensans-bold-webfont.ttf") format("truetype"),
	url("/static/fonts/opensans-bold-webfont.svg") format("svg");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Opensans_semi";
	src: url("/static/fonts/opensans-semibold.eot");
	src: url("/static/fonts/opensans-semibold.eot#iefix") format("embedded-opentype"),
	url("/static/fonts/opensans-semibold.woff") format("woff"),
	url("/static/fonts/opensans-semibold.ttf") format("truetype"),
	url("/static/fonts/opensans-semibold.svg") format("svg");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Opensans_extra";
	src: url("/static/fonts/opensans-extrabold.eot");
	src: url("/static/fonts/opensans-extrabold.eot#iefix") format("embedded-opentype"),
	url("/static/fonts/opensans-extrabold.woff") format("woff"),
	url("/static/fonts/opensans-extrabold.ttf") format("truetype"),
	url("/static/fonts/opensans-extrabold.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

.row {
	max-width: 963px;
	width: 100%;
}

.full-width {
    width: 100%;
    max-width: 100%;
}

.full-width .row {
	max-width: 963px;
	margin: 0 auto;
}

.parallelogram {
	-webkit-transform: skew(-25deg); 
	-moz-transform: skew(-25deg); 
	-o-transform: skew(-25deg);
	transform: skew(-25deg);
}

.parallelogram span {
	-webkit-transform: skew(25deg); 
	-moz-transform: skew(25deg); 
	-o-transform: skew(25deg);
	transform: skew(25deg);
	display: block;
}

/* CUSTOM */
.bg1 {
	background: url('/static//img/bg1.jpg') no-repeat top center / auto 100%;
	padding-top: 50px;
	min-height: 535px;
}

.bg4 {
	background: url('/static/img/bg4.jpg') no-repeat top center / auto 100%;
	padding-top: 50px;
	padding-left: 15px;
	min-height: 535px;
}

.bg1 .row, .bg4 .row {
	position: relative;
}

.bg1 .logo, .bg4 .logo {
	position: absolute;
	right: 0;
	top: 0;
}

.bg1 .inline-block {
	display: inline-block;
}

.bg1 a.parallelogram {
	display: inline-block;
	font-size: 1.125em;
	color: #ffffff;
	text-decoration: none;
	padding: 5px 15px;
	font-family: 'Opensans_semi';
}

.bg1 .inline-block {
	margin-left: 40px;
}

.bg1 .inline-block:first-child {
	margin-left: 0;
}

.bg1 a.red {
	background: #b51e54;
}

.bg1 a.orange {
	background: #f89e1e;
}

.bg1 h1 {
	margin: 0;
	padding: 0;
	font-size: 3.125em;
	line-height: 1em;
	font-family: 'Opensans_extra';
	font-weight: normal;
	text-transform: uppercase;
}

.bg4 h1 {
	margin: 0;
	padding: 0;
	font-size: 4.375em;
	line-height: 1em;
	font-family: 'Opensans';
	font-weight: bold;
	text-transform: uppercase;
}

.bg1 .text-small {
	font-family: 'Opensans';
	font-weight: normal;
	color: #2d1414;
	font-size: 1em;
	line-height: 1.250em;
	padding-top: 25px;
	padding-bottom: 25px;
}

.bg4 .text-small {
	font-family: 'Opensans';
	font-weight: normal;
	color: #2d1414;
	font-size: 1em;
	line-height: 1.125em;
	padding-top: 25px;
	padding-bottom: 25px;
}

.bg1 .signs {
	font-family: 'Opensans';
	font-weight: bold;
	font-size: 1.250em;
	color: #2d1414;
	margin-bottom: 20px;
}

.bg-yellow {
	background: #f89e1e;
}

.bg-yellow .container {
	position: relative;
}

.bg-yellow .title {
	font-family: 'Opensans';
	font-weight: bold;
	font-size: 2.188em;
	line-height: 1em;
	color: #2d1414;
	margin-top: 35px;
	margin-bottom: 20px;
}

.bg-yellow .text {
	font-family: "Opensans";
	font-size: 1.375em;
	line-height: 1.364em;
	margin-bottom: 25px;
}

.bg-yellow .required {
	font-family: "Opensans";
	font-size: 0.938em;
    margin-bottom: 10px;
}

.bg-yellow .control-label, .bg-yellow .checkbox label {
	color: #ffffff;
	font-family: "Opensans";
	font-size: 1.125em;
	font-weight: bold;
}

.bg-yellow .checkbox label {
	padding-left: 40px;
}

.bg-yellow  .checkbox input[type="checkbox"] {
	margin-left: -40px;
}

.bg-yellow .form-control {
	background: none;
	border: 1px solid #ffffff;
	border-radius: 0;
	font-family: "Opensans";
	font-size: 1.125em;
	font-weight: bold;
	color: #2d1414;
}

.bg-yellow .form-text {
	font-family: "Opensans";
	color: #2d1414;
	font-size: 1.125em;
	margin: 25px 0;
}

.bg-yellow button, .bg-yellow button:hover, .bg-yellow button:focus {
	background: #ffffff;
	border: medium none;
	border-radius: 0;
	color: #f89e1e;
	font-family: "Opensans";
	font-size: 1.125em;
	font-weight: bold;
	padding: 10px 50px;
	text-transform: uppercase;
}

.bg-yellow .arrow {
	margin: 25px 0;
}

.bg2 {
	background: url("/static/img/bg2.jpg") no-repeat scroll center center / auto 100%;
	height: 200px;
}

.bg-beige {
	background: #fcefcc;
}

.bg-beige .title, .bg-beige .title2 {
	font-family: 'Opensans';
	font-weight: bold;
	font-size: 2.250em;
	color: #2d1414;
	text-transform: uppercase;
	margin: 45px 0 30px;
	line-height: 1em;
}

.bg-beige .title2 {
	text-transform: none;
}

.bg-beige .text {
	color: #2d1414;
	font-family: 'Opensans';
	font-size: 1.125em;
	line-height: 1.333em;
}

.bg-beige .semibold {
	font-family: 'opensans_semi';
	font-weight: normal;
}

.bg-beige .parallelogram {
	background: #aa1b4f;
	display: inline-block;
	font-size: 1.125em;
	color: #ffffff;
	text-decoration: none;
	padding: 5px 15px;
	font-family: 'Opensans_semi';
	margin: 25px 0 35px;
}

.bg-beige .btn-don span {
	padding: 5px;
	text-transform: uppercase;
}

.bg-beige .social {
	margin: 10px 0 30px;
}

.bg-beige .social-link {
	margin-left: 15px;
}

.bg-beige .social-link:first-child {
	margin-left: 0;
}

.bg-beige .don .price {
	color: #322207;
	font-family: 'Opensans';
	font-weight: bold;
	font-size: 3.750em;
}

.bg-beige .don .price-after {
	border-bottom: 2px solid #322207;
	border-top: 2px solid #322207;
	font-family: "Opensans";
	font-size: 0.875em;
	padding: 10px 0;
	margin: 10px 0;
}

.bg-beige .don .price2 {
	font-family: 'Opensans';
	font-weight: bold;
	font-size: 1.125em;
}

.bg3 {
	background: url('/static/img/bg3.jpg') no-repeat center center / auto 100%;
	min-height: 463px;
	position: relative;
}

.bg3 .padding {
	padding-bottom: 130px;
}

.bg3 .title {
	color: #ffffff;
	font-family: 'Opensans';
	font-size: 2.571em;
	margin: 50px 0 25px;
}

.bg3 .subtitle {
	color: #ffffff;
	font-family: 'Opensans';
	font-size: 1em;
	margin: 0 0 60px;
}

.bg3 .text {
	color: #ffffff;
	font-family: 'Opensans';
	font-size: 1em;
}

.bg3 .overlay {
	bottom: 0;
	position: absolute;
	width: 100%;
	padding: 18px 0 15px;
	background: url('/static/img/overlay.png') repeat;
}

.bg3 .overlay > .container {
	width: 100%;
	max-width: 1170px;
}

.bg3 .overlay .text {
	color: #cccccc;
	padding-top: 10px;
	margin-bottom: 0;
}

.bg3 .overlay .visit, .bg3 .overlay .visit:hover {
	border: 2px solid #cccccc;
	color: #cccccc;
	display: inline-block;
	font-family: "Opensans";
	font-size: 1.286em;
	margin-top: 5px;
	padding: 5px 20px;
	text-decoration: none;
}

.bg3 .overlay .visit > img {
	margin-left: 5px;
	vertical-align: middle;
}

.bg3 .overlay .follow {
	margin-top: 10px;
	margin-left: 10px;
	display: inline-block;
}

.bg3 .overlay .follow:first-child {
	margin-left: 0;
}

.footer {
	background: #000000;
	padding: 5px 0;
}

.footer a, .footer a:hover {
	text-decoration: none;
	color: #f89e1e;
	font-family: 'Opensans';
	font-size: 0.857em;
}

@media (max-width: 767px) {
	.bg1 {
		background: url('/static/img/bg1.jpg') no-repeat 78% top / auto 100%;
		height: 535px;
	}
	
	.bg1 h1 {
		color: #ffffff;
		font-size: 2.971em;
	}
	
	.bg4 h1 {
		font-size: 4em;
	}
	
	.bg1 .text-small {
		color: #ffffff;
	}
	
	.bg1 .signs {
		color: #ffffff;
	}
	
	.bg1 .inline-block {
		display: block;
		margin-left: 0 !important;
		margin-top: 15px;
		text-align: center;
	}
}

@media (max-width: 991px) {
	body {
		font-size: 12px !important;
	}
	
	.bg1 {
		padding-left: 0;
		padding-top: 20px;
	}
	
	.bg1 .container {
		width: 100%;
	}
	
	.bg-yellow .text {
		font-size: 1.371em;
	}
	
	.bg3 .text {
		margin-bottom: 30px;	
	}
	.bg3 .padding {
		padding-bottom: 247px;
	}
}

@media (max-width: 1024px) {
	.bg3 .padding {
		padding-bottom: 280px;
	}
}

label.error{
    margin-bottom: 8px;
    margin-top: 2px;
}

.intl-tel-input label.error{
    position: absolute;
}