---
meta:
  title: ""
  description: ""
  keywords: ""
contenu:
  header:
    image_path: ""
  equivalences:
    titre: ""
    introduction: ""
    activate_boutons_sociaux: true / false
    equivalence1:
      montant: ""
      deduction: ""
      contenu: ""
    equivalence2:
      montant: ""
      deduction: ""
      contenu: ""
    equivalence3:
      montant: ""
      deduction: ""
      contenu: ""
  footer:
    titre: ""
    introduction: ""
    contenu:
      left: ""
      mid: ""
      right: ""
---
<!doctype html>
<html class="no-js" lang="fr">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{page.meta.title}}</title>
		<meta name="description" content="{{page.meta.description}}" />
		<meta name="keywords" content="{{page.meta.keywords}}">
		<link rel="stylesheet" href="{{site.url}}/css/foundation.css" />
		<link rel="stylesheet" href="{{site.url}}/css/custom.css" />
		<script src="{{site.url}}/js/vendor/modernizr.js"></script>
	    {% include woopra.html %}
	</head>
	<body>
		<div class="row full-width bg4">
			<div class="row">
				<div class="logo">
					<img src="{{page.contenu.header.image_path}}" />
				</div>
				<div class="small-9 medium-6 columns end">
					<h1>{{page.contenu.equivalances.titre}}</h1>

					<div class="text-small">
						{{page.contenu.equivalances.introduction}}
					</div>
				</div>
			</div>
		</div>
		
		<div class="row full-width bg-beige">
			<div class="row">
				<div class="small-12 columns end">
					<div class="title2 text-center">
						Pour aller plus loin avec CARE France
					</div>
					{% if page.contenu.equivalances.activate_boutons_sociaux == true %}
					<div class="text semibold text-center">
						Je partage cette pétition sur les réseaux sociaux
					</div>

					<div class="social text-center">
						<a href="#" class="social-link"><img src="{{site.url}}/img/logo_fb2.png" onmouseover="this.src = '{{site.url}}/img/logo_fb2_on.png';" onmouseout="this.src = '{{site.url}}/img/logo_fb2.png';" /></a>
						<a href="#" class="social-link"><img src="{{site.url}}/img/logo_tw2.png" onmouseover="this.src = '{{site.url}}/img/logo_tw2_on.png';" onmouseout="this.src = '{{site.url}}/img/logo_tw2.png';" /></a>
						<a href="#" class="social-link"><img src="{{site.url}}/img/logo_gp2.png" onmouseover="this.src = '{{site.url}}/img/logo_gp2_on.png';" onmouseout="this.src = '{{site.url}}/img/logo_gp2.png';" /></a>
					</div>
					{% endif %}
					<div class="text semibold text-center">
						Je soutiens CARE France<br />
						<a href="#" class="parallelogram red btn-don"><span>Je fais un don <img src="{{site.url}}/img/arrow_don.png" /></span></a>
					</div>

					<div class="medium-4 columns don">
						<div class="price text-center">
							{{page.contenu.equivalances.equivalance1.montant}}<sup>€</sup>
						</div>
						<div class="price-after text-center">
							<span class="price2">{{page.contenu.equivalances.equivalance1.deduction}}<sup>€</sup></span><br />
							après déduction fiscale
						</div>
						<div class="text text-center">
							{{page.contenu.equivalances.equivalance1.contenu}}
						</div>
						<div class="text-center">
							<a href="#" class="parallelogram red btn-don"><span>Je donne <img src="{{site.url}}/img/arrow_don.png" /></span></a>
						</div>
					</div>
					<div class="medium-4 columns don">
						<div class="price text-center">
							{{page.contenu.equivalances.equivalance2.montant}}<sup>€</sup>
						</div>
						<div class="price-after text-center">
							<span class="price2">{{page.contenu.equivalances.equivalance2.deduction}}<sup>€</sup></span><br />
							après déduction fiscale
						</div>
						<div class="text text-center">
							{{page.contenu.equivalances.equivalance2.contenu}}
						</div>
						<div class="text-center">
							<a href="#" class="parallelogram red btn-don"><span>Je donne <img src="{{site.url}}/img/arrow_don.png" /></span></a>
						</div>
					</div>
					<div class="medium-4 columns don">
						<div class="price text-center">
							{{page.contenu.equivalances.equivalance3.montant}}<sup>€</sup>
						</div>
						<div class="price-after text-center">
							<span class="price2">{{page.contenu.equivalances.equivalance3.deduction}}<sup>€</sup></span><br />
							après déduction fiscale
						</div>
						<div class="text text-center">
							{{page.contenu.equivalances.equivalance3.contenu}}
						</div>
						<div class="text-center">
							<a href="#" class="parallelogram red btn-don"><span>Je donne <img src="{{site.url}}/img/arrow_don.png" /></span></a>
						</div>
					</div>
				</div>
			</div>
		</div>

        {% include footer.html %}

		<script src="{{site.url}}/js/vendor/jquery.js"></script>
		<script src="{{site.url}}/js/foundation.min.js"></script>
		<script src="{{site.url}}/js/custom.js"></script>
		<script>
			$(document).foundation();
		</script>
	    <script>
		woopra.identify({
	        	email:     p['email'],
	        	phone:     p['phone'],
	        	firstname: p['firstname'],
	        	lastname:  p['lastname'],
	            name:      p['firstname'] + ' ' + p['lastname'],
	    	});
	    woopra.track('petition', {
	    	    url:   document.location.href,
	            title: document.title,
	            campagne: p['campagne']
	            });
	    </script>

	</body>
</html>