---
layout: t2
header_bouton:
  bouton: '0'
  background_bleu: false
  type: transparent
formulaire:
  destinataire: "email@email.com"
---
<div class="row">
  <header id="titre" class="large-12 columns">
    {% include cvav_nav_page.html %}

    <h1 class="editable">Contactez-nous</h1>
    <div class="large-offset-1 large-10">
        <p class="editable"></p>
    </div>
  </header>
</div>

{% if page.header_bouton.bouton != '0' %}
<div class="row {{page.header_bouton.type}}" {% if page.header_bouton.background_bleu %}style="background-color:#66a5cc"{% endif %}>
  <div class="medium-12 large-12 small-12">
    <div class="medium-9 large-9 small-9 columns large-centered medium-centered">
      {% case page.header_bouton.bouton %}
      {% when '4' %}
      <!-- 4 boutons -->
      <div class="large-3 medium-6 small-12 columns editable"><div class="full-btn align-center"><p><span style="line-height: 16px;">Toutes les actualit&eacute;s</span></p></div></div>
      <div class="large-3 medium-6 small-12 columns editable"><div class="full-btn align-center"><p><span style="line-height: 16px;">&Eacute;v&egrave;nements</span></p></div></div>
      <div class="large-3 medium-6 small-12 columns editable"><div class="full-btn align-center"><p><span class="align-middle"><a href="#">C</a>ampagnes</span></p></div></div>
      <div class="large-3 medium-6 small-12 columns editable">
          <a href="#"><div class="full-btn align-center"><p><span class="align-middle">Faire un don</span></p></div></a>
      </div>
      {% when '3' %}
      <!-- 3 boutons -->
      <div class="large-4 medium-12 small-12 columns editable"><div class="full-btn align-center"><p><span style="line-height: 16px;">Toutes les actualit&eacute;s</span></p></div></div>
      <div class="large-4 medium-12 small-12 columns editable"><div class="full-btn"><p><span style="line-height: 16px;">&Eacute;v&egrave;nements</span></p></div></div>
      <div class="large-4 medium-12 small-12 columns editable"><div class="full-btn"><p><span style="line-height: 16px;">Campagnes</span></p></div></div>
      {% when '2' %}
      <!-- 2 boutons -->
      <div class="large-6 medium-6 small-12 columns editable">
          <a href="#"><div class="full-btn align-center"><p><span class="align-middle">Déposer un témoignage</span></p></div></a>
      </div>
       <div class="large-6 medium-6 small-12 columns editable">
           <a href="#"><div class="full-btn"><p class="paraph-white"><span class="align-middle">Tous les témoignages</span></p></div></a>
      </div>
      {% when '1' %}
      <!-- 1 bouton -->
      <div class="large-12 medium-12 small-12 columns editable">
          <a href="#"><div class="full-btn align-center"><p><span class="align-middle">Faire un don</span></p></div></a>
      </div>
      {% endcase %}
    </div>
  </div>
</div>
{% endif %}

<div class="row padder-bottom cvav-content paraph-blue">
    <div class="large-8 end large-offset-2 text-left editable"><p>&nbsp;</p><p>Fonds C&oelig;urs Vaillants - &Acirc;mes Vaillantes<br />63 avenue de la R&eacute;publique&nbsp;<br />92120 Montrouge - France</p><p>T&eacute;l. 01 55 48 03 22<br />E-mail :&nbsp;<a href="javascript:void(location.href='mailto:'+String.fromCharCode(99,111,110,116,97,99,116,64,102,111,110,100,115,45,99,118,97,118,46,99,111,109))">contact@fonds-cvav.com</a></p><h3>&nbsp;</h3></div>
</div>

<div id="form-info" class="row bkg-blue">
    <div class="large-10 large-offset-1 end columns">
        <form action="/remerciement/contact.html" method="post" data-abide>
          <div class="row">
              <div class="large-12 columns" style="padding-left:0;margin-bottom:2rem">
                  <div class="row description" style="margin: 0px">
                    <div class="large-offset-1 large-10 columns editable"><h1 class="text-left" style="margin: 0px;">ENVOYEZ-NOUS UN MESSAGE</h1></div>
                  </div>
              </div>
          </div>
            <div class="row">
              <div class="large-6 columns">
                  <input class="majplace" type="text" name="firstname" required placeholder="VOTRE PRENOM*" />
                  <small class="error">Vous devez renseigner votre prénom</small>
              </div>
                <div class="large-6 columns">
                  <input type="hidden" name="cc_emails[]" value="{{page.formulaire.nom_du_formulaire}}" />
                    <input class="majplace" type="text" name="lastname" placeholder="VOTRE NOM*" required />
                    <small class="error">Vous devez renseigner votre nom</small>
                </div>

            </div>
            <div class="row">
                <div class="large-12 columns">
                    <input class="majplace" type="text" name="adresse" placeholder="ADRESSE" />
                </div>
            </div>
            <div class="row">
                <div class="large-6 columns">
                    <input class="majplace" type="text" name="codePostal" placeholder="CODE POSTAL" />
                </div>
                <div class="large-6 columns">
                    <input class="majplace" type="text" name="ville" placeholder="VILLE" />
                </div>
            </div>
            <div class="row">
                <div class="large-6 columns">
                    <input class="majplace" type="tel" name="telephone" placeholder="TELEPHONE" />
                </div>
                <div class="large-6 columns">
                    <input class="majplace" type="email" name="email" required placeholder="EMAIL*" />
                    <small class="error">Vous devez renseigner votre email</small>
                </div>
            </div>
            <div class="row">
              <div class="large-12 columns">
                <textarea rows="4" required class="form-field" name="message" placeholder="VOTRE MESSAGE*"></textarea>
                <small class="error">Vous devez saisir un message</small>
              </div>
            </div>
            <div class="row">
              <div class="large-offset-1 large-10 columns">
                <p class="text-right">*Champs obligatoires</p>
              </div>
            </div>
            <!--
            <div class="row">
                <div class="large-12 columns">
                    <input type="checkbox" name="optin" id="optin" /><label for="optin">Je souhaite recevoir de l'information par email ou par téléphone du fonds CVAV</label>
                </div>
            </div>
          -->
            <input type="hidden" name="cc_emails[]" value="{{page.formulaire.destinataire}}" />
            <div class="row">
                <div class="large-12 columns">
                    <button type="submit">Envoyer votre message</button>
                </div>
            </div>
        </form>
    </div>
</div>
