---
layout: t2
---

<div class="row">
        <div class="large-12 column">
        		<ul>
        			{% for item in site.collections %}
        				{% assign collection = item[1] %}
        				{% if collection.output %}
        					<li>
        						{% assign items = collection.docs | sort: 'order' %}
        						<a href="{{ items.first.url }}">{{ collection.title }}</a>
        						<ul>
    	                            {% for item in items %}
                                	      <li>
                                	          <a href="{{ item.url }}">
                                	              {% if item.heading %}{{ item.heading }}{% else %}{{ item.title }}{% endif %}</a>
                                	              </li>

                                	{% endfor %}
                                </ul>
        					</li>
        				{% endif %}
        			{% endfor %}
        		</ul>
        </div>
    </div>
