---
layout: t2
formulaire:
  destinataire: "amasselin@adfinitas.fr"
---
<div class="row">
  <header id="titre" class="large-12 columns">
    <div class="flecheG">
        <a href="/actualites/tous-les-evenements.html"><img src="/img/flecheG.png" alt="" /></a>
    </div>
    <div class="flecheD">
        <a href="/retrouvons-nous/tous-les-temoignages.html"><img src="/img/flecheD.png" alt="" /></a>
    </div>
    <h1 class="editable">Retrouvons-nous</h1>
    <div class="large-offset-1 large-10">
        <p class="editable">Copains, camps, magazines, amis C&oelig;urs Vaillants et &Acirc;mes Vaillantes, partagez ici vos souvenirs de jeunesse et vos &eacute;motions.</p>
    </div>
  </header>
</div>

{% include cvav_menu_retrouvons_nous.html %}

<div class="row padder-bottom cvav-content paraph-blue">
    <div class="large-8 end large-offset-2 text-left editable"><h2>&nbsp;</h2><p>Vous avez des histoires de C&oelig;urs Vaillants &agrave; raconter, cet espace est pour vous. Petites anecdotes et grands moments, partagez-nous les meilleurs &eacute;pisodes de votre enfance.</p><p>Vous souhaitez laisser un message &agrave; une personne, retrouvez un(e) ancien(ne) Vaillant(e)?&nbsp;</p><p>Laissez-nous un message.</p></div>
</div>

{% include cvav_formulaire_complet.html %}
