<!doctype html>
<html class="no-js" lang="fr">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{page.meta.title}}</title>
		<meta name="description" content="{{page.meta.description}}" />
		<meta name="keywords" content="{{page.meta.keywords}}">
		<link rel="stylesheet" href="/static/css/foundation.css" />
		<link rel="stylesheet" href="/static/css/custom.css" />
		<script src="/static/js/vendor/modernizr.js"></script>
	    {% include woopra.html %}
	</head>
	<body>
		<div class="row full-width bg4" style="background: url('{{page.contenu.header.image_path}}') no-repeat center center / auto 100%;">
			<div class="row">
				<div class="logo">
					<a href="http://www.carefrance.org/" target="_blank"><img src="{{site.logo}}" /></a>
				</div>
				<div class="small-9 medium-6 columns end">
					<h1>{{page.contenu.header.titre}}</h1>
					<div class="text-small">
                        {{ content }}
					</div>
				</div>
			</div>
		</div>
		
		<div class="row full-width bg-beige" style="background: #{{page.contenu.header.bg_color}};">
			<div class="row">
				<div class="small-12 columns end">
					<div class="title2 text-center">
						{{page.contenu.header.introduction}}
					</div>
					{% if page.contenu.header.activate_boutons_sociaux == true %}
					<div class="text semibold text-center">
						Je partage cette pétition sur les réseaux sociaux
					</div>

					<div class="social text-center">
						<a href="{{page.contenu.header.fb_link}}" target="_blank" class="social-link"><img src="/static/img/logo_fb2.png" onmouseover="this.src = '/static/img/logo_fb2_on.png';" onmouseout="this.src = '/static/img/logo_fb2.png';" /></a>
						<a href="{{page.contenu.header.tw_link}}" target="_blank" class="social-link"><img src="/static/img/logo_tw2.png" onmouseover="this.src = '/static/img/logo_tw2_on.png';" onmouseout="this.src = '/static/img/logo_tw2.png';" /></a>
						<a href="{{page.contenu.header.gp_link}}" target="_blank" class="social-link"><img src="/static/img/logo_gp2.png" onmouseover="this.src = '/static/img/logo_gp2_on.png';" onmouseout="this.src = '/static/img/logo_gp2.png';" /></a>
					</div>
					{% endif %}
					<div class="text semibold text-center">
						{{page.contenu.header.text_don}}<br />
					{% if page.contenu.don_simple.visibility == true %}
						<a href="{{page.contenu.don_simple.link}}" target="_blank" class="parallelogram red btn-don"><span>{{page.contenu.don_simple.button}}<img src="/static/img/arrow_don.png" /></span></a>
					{% endif %}
					</div>
					{% if page.contenu.equivalences.show == true %}
					<div class="medium-4 columns don">
						<div class="price text-center">
							<span id="montant1">{{page.contenu.equivalences.equivalence1.montant}}</span><sup>€</sup>
						</div>
						<div class="price-after text-center">
							<span class="price2" id="reduc1">{{page.contenu.equivalences.equivalence1.deduction}}</span><sup>€</sup><br />
							après déduction fiscale
						</div>
						<div class="text text-center">
							{{page.contenu.equivalences.equivalence1.contenu}}
						</div>
						<div class="text-center">
							<a href="{{page.contenu.equivalences.equivalence1.link}}" target="_blank" class="parallelogram red btn-don"><span>{{page.contenu.equivalences.button}}<img src="/static/img/arrow_don.png" /></span></a>
						</div>
					</div>
					<div class="medium-4 columns don">
						<div class="price text-center">
							<span id="montant2">{{page.contenu.equivalences.equivalence2.montant}}</span><sup>€</sup>
						</div>
						<div class="price-after text-center">
							<span class="price2" id="reduc2">{{page.contenu.equivalences.equivalence2.deduction}}</span><sup>€</sup><br />
							après déduction fiscale
						</div>
						<div class="text text-center">
							{{page.contenu.equivalences.equivalence2.contenu}}
						</div>
						<div class="text-center">
							<a href="{{page.contenu.equivalences.equivalence2.link}}" target="_blank" class="parallelogram red btn-don"><span>{{page.contenu.equivalences.button}}<img src="/static/img/arrow_don.png" /></span></a>
						</div>
					</div>
					<div class="medium-4 columns don">
						<div class="price text-center">
							<span id="montant3">{{page.contenu.equivalences.equivalence3.montant}}</span><sup>€</sup>
						</div>
						<div class="price-after text-center">
							<span class="price2" id="reduc3">{{page.contenu.equivalences.equivalence3.deduction}}</span><sup>€</sup><br />
							après déduction fiscale
						</div>
						<div class="text text-center">
							{{page.contenu.equivalences.equivalence3.contenu}}
						</div>
						<div class="text-center">
							<a href="{{page.contenu.equivalences.equivalence3.link}}" target="_blank" class="parallelogram red btn-don"><span>{{page.contenu.equivalences.button}}<img src="/static/img/arrow_don.png" /></span></a>
						</div>
					</div>
					{% endif %}
				</div>
			</div>
		</div>

        {% include footer.html %}

		<script src="/static/js/vendor/jquery.js"></script>
		<script src="/static/js/foundation.min.js"></script>
		<script src="/static/js/custom.js"></script>
		<script>
			$(document).foundation();
		</script>
	    <script>
		woopra.identify({
	        	email:     p['email'],
	        	phone:     p['phone'],
	        	firstname: p['firstname'],
	        	lastname:  p['lastname'],
	            name:      p['firstname'] + ' ' + p['lastname'],
	    	});
	    woopra.track('petition', {
	    	    url:   document.location.href,
	            title: document.title,
	            campagne: p['campagne']
	            });
	    </script>
        <script>
        (function() {
                alert ("equival1");
              var equival1 = $( "#montant1" ).html();
              equival1 = parseInt(equival1) * 0.25;
              alert (equival1);
              $( "#reduc1" ).text( equival1 );
              var equival2 = $( "#montant2" ).html();
              equival2 = parseInt(equival1) * 0.25;
              $( "#reduc2" ).text( equival2 );
              var equival3 = $( "#montant3" ).html();
              equival3 = parseInt(equival1) * 0.25;
              $( "#reduc3" ).text( equival2 );
        });
        </script>
	</body>
</html>