<!doctype html>
<html class="no-js" lang="fr">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{page.meta.title}}</title>
		<meta name="description" content="{{page.meta.description}}" />
		<meta name="keywords" content="{{page.meta.keywords}}">
		<link rel="stylesheet" href="/static/css/foundation.css" />
		<link rel="stylesheet" href="/static/css/custom.css" />
		<script src="/static/js/vendor/modernizr.js"></script>
	    {% include woopra.html %}
	</head>
	<body>
		<div class="row full-width bg4" style="background: url('{{page.contenu.header.image_path}') no-repeat center center / auto 100%;">
			<div class="row">
				<div class="logo">
					<img src="{{site.logo}}" />
				</div>
				<div class="small-9 medium-6 columns end">
					<h1>{{page.contenu.header.titre}}</h1>

					<div class="text-small">
						{{page.contenu.header.introduction}}
					</div>
				</div>
			</div>
		</div>
		
		<div class="row full-width bg-beige">
			<div class="row">
				<div class="small-12 columns end">
					<div class="title2 text-center">
						{{ content }}
					</div>
					{% if page.contenu.equivalences.activate_boutons_sociaux == true %}
					<div class="text semibold text-center">
						Je partage cette pétition sur les réseaux sociaux
					</div>

					<div class="social text-center">
						<a href="{{page.contenu.header.fb_link}}" class="social-link"><img src="/static/img/logo_fb2.png" onmouseover="this.src = '/static/img/logo_fb2_on.png';" onmouseout="this.src = '/static/img/logo_fb2.png';" /></a>
						<a href="{{page.contenu.header.tw_link}}" class="social-link"><img src="/static/img/logo_tw2.png" onmouseover="this.src = '/static/img/logo_tw2_on.png';" onmouseout="this.src = '/static/img/logo_tw2.png';" /></a>
						<a href="{{page.contenu.header.gp_link}}" class="social-link"><img src="/static/img/logo_gp2.png" onmouseover="this.src = '/static/img/logo_gp2_on.png';" onmouseout="this.src = '/static/img/logo_gp2.png';" /></a>
					</div>
					{% endif %}
					<div class="text semibold text-center">
						{{page.contenu.header.text_don}}<br />
					{% if page.contenu.header.don_simple.visibility == true %}
						<a href="{{page.contenu.header.don_simple.link}}" class="parallelogram red btn-don"><span>{{page.contenu.header.don_simple.button}}<img src="/static/img/arrow_don.png" /></span></a>
					{% endif %}
					</div>

					<div class="medium-4 columns don">
						<div class="price text-center">
							{{page.contenu.equivalences.equivalence1.montant}}<sup>€</sup>
						</div>
						<div class="price-after text-center">
							<span class="price2" id="reduc1">{{page.contenu.equivalences.equivalence1.deduction}}<sup>€</sup></span><br />
							après déduction fiscale
						</div>
						<div class="text text-center">
							{{page.contenu.equivalences.equivalence1.contenu}}
						</div>
						<div class="text-center">
							<a href="{{page.contenu.equivalences.equivalence1.link}}" class="parallelogram red btn-don"><span>{{page.contenu.header.button}}<img src="/static/img/arrow_don.png" /></span></a>
						</div>
					</div>
					<div class="medium-4 columns don">
						<div class="price text-center">
							{{page.contenu.equivalences.equivalence2.montant}}<sup>€</sup>
						</div>
						<div class="price-after text-center">
							<span class="price2" id="reduc2">{{page.contenu.equivalences.equivalence2.deduction}}<sup>€</sup></span><br />
							après déduction fiscale
						</div>
						<div class="text text-center">
							{{page.contenu.equivalences.equivalence2.contenu}}
						</div>
						<div class="text-center">
							<a href="{{page.contenu.equivalences.equivalence2.link}}" class="parallelogram red btn-don"><span>{{page.contenu.header.button}}<img src="/static/img/arrow_don.png" /></span></a>
						</div>
					</div>
					<div class="medium-4 columns don">
						<div class="price text-center">
							{{page.contenu.equivalences.equivalence3.montant}}<sup>€</sup>
						</div>
						<div class="price-after text-center">
							<span class="price2" id="reduc3">{{page.contenu.equivalences.equivelence3.deduction}}<sup>€</sup></span><br />
							après déduction fiscale
						</div>
						<div class="text text-center">
							{{page.contenu.equivalences.equivalence3.contenu}}
						</div>
						<div class="text-center">
							<a href="{{page.contenu.equivalences.equivalence3.link}}" class="parallelogram red btn-don"><span>{{page.contenu.header.button}}<img src="/static/img/arrow_don.png" /></span></a>
						</div>
					</div>
				</div>
			</div>
		</div>

        {% include footer.html %}

		<script src="/static/js/vendor/jquery.js"></script>
		<script src="/static/js/foundation.min.js"></script>
		<script src="/static/js/custom.js"></script>
		<script>
			$(document).foundation();
		</script>
	    <script>
		woopra.identify({
	        	email:     p['email'],
	        	phone:     p['phone'],
	        	firstname: p['firstname'],
	        	lastname:  p['lastname'],
	            name:      p['firstname'] + ' ' + p['lastname'],
	    	});
	    woopra.track('petition', {
	    	    url:   document.location.href,
	            title: document.title,
	            campagne: p['campagne']
	            });
	    </script>

	</body>
</html>