<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/static/css/foundation.css" />
        <link rel="stylesheet" href="/static/css/app.css" />
        <link rel="stylesheet" href="/static/css/intlTelInput.css">
        <script src="/static/js/vendor/modernizr.js"></script>
        {% include woopra.html %}
        {% include extractparam.html %}
    </head>
    <body>
        <div class="row">
        	{% include petition.html %}
        </div>
        {% include footer.html %}
        <script src="/static/js/vendor/jquery.js"></script>
        <script src="/static/js/foundation.min.js"></script>
        <script src="/static/js/intlTelInput.min.js"></script>
		<script src="/static/js/vendor/jquery.validate.min.js"></script>
		<script src="/static/js/vendor/utils.js"></script>
		<script src="/static/js/custom.js"></script>
        <script>
            $(document).foundation();
        </script>
        <script>
            $(document).ready(function(){
               if ("email" in p){
                   $("input[name='email']").val(p["email"]);
               }
               if ("firstname" in p){
                   $("input[name='firstname']").val(p["firstname"]);
               }
               if ("lastname" in p){
                   $("input[name='lastname']").val(p["lastname"]);
               }
               if ("phone" in p){
                   $("input[name='phone']").val(p["phone"]);
               }
            });
        </script>
    </body>
</html>